{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

    <div class="row" style="padding-top: 40px;">
      <div id="content" class="container">        
        <div style="height:550px">
          <h3 class="searchNoResult" style="text-align:center;"><br>Oops, we couldn't find the page you were looking for...</h3><br>
          <img style="height:400px; display: block;margin-left: auto;margin-right: auto;" src="/images/404.png"><br>/<br/>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 headerDivider">                    
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
              <a href='{{index .Page.Site.Params "latest_java_url"}}' class="btn btn-primary btn-block btn-lg">XAP {{index .Site.Params "latest_xap_release"}} &raquo;</a>
            </div>
            <div class="col-md-1">
            </div>
          </div>
        </div>
        <div class="col-md-4 headerDivider">          
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
              <a href='{{index .Page.Site.Params "latest_net_url"}}' class="btn btn-primary btn-block btn-lg">XAP.NET {{index .Site.Params "latest_xap_release"}} &raquo;</a>
            </div>
            <div class="col-md-1">
            </div>
          </div>
        </div>
        <div class="col-md-4">          
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
              <a href="sbp" class="btn btn-success btn-block btn-lg">Solutions &amp; Patterns &raquo;</a>
            </div>
            <div class="col-md-1">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <br>
        <br>
      </div>
    </div>

{{ partial "footer.html" . }}