**/public*
/.idea
_site/
output/
flare-migration/site-temp/
flare-migration/output/
target/
*.test
*.prof
nohup.out
cover.out
*.swp
*.swo
.DS_Store
*~
**/.idea/ 
**/*.iml
**/.DS_Store
.idea/
*.iml
*.iws
site/themes/hugo-bootswatch/layouts/partials/sidenav*
flare-migration/shortcodes-usage-*.csv
canonical-url-report.txt
site-flare.zip
site-flare/Project/TOCs/Sandbox/test-pages.fltoc
#####  *.fltoc
site-flare/Content/Resources/Static/images/niv numbers.jpg
site-flare/Project/Targets/was-InsightEdge-15.5.fltar-was
*.fltar-was
site-flare/Content/Resources/Static/images/ocr-1.jpg
site-flare/Content/Resources/Static/images/ocr-2.jpg
site-flare/Content/Resources/Static/images/ocr-3.jpg
site-flare/Content/Resources/Static/images/ocr-6.jpg
site-flare/Content/Resources/Static/images/ocr-5.jpg
site-flare/Content/Resources/Static/images/ocr-8.jpg
site-flare/Content/Resources/Static/images/ocr-7.jpg
site-flare/Content/Resources/Static/images/ocr-4.jpg
site-flare/Content/Z-David/dummy-1.htm
site-flare/Content/Z-David/OLD-admin-view-types.html
