**/public*
/.idea
_site/
output/
flare-migration/site-temp/
flare-migration/output/
target/
*.test
*.prof
nohup.out
cover.out
*.swp
*.swo
.DS_Store
*~
**/.idea/ 
**/*.iml
**/.DS_Store
.idea/
*.iml
*.iws
site/themes/hugo-bootswatch/layouts/partials/sidenav*
flare-migration/shortcodes-usage-*.csv
canonical-url-report.txt
site-flare.zip
site-flare/Project/TOCs/Sandbox/test-pages.fltoc
#####  *.fltoc
site-flare/Content/Resources/Static/images/niv numbers.jpg
site-flare/Project/Targets/was-InsightEdge-15.5.fltar-was
*.fltar-was
site-flare/Content/Resources/Static/images/ocr-1.jpg
site-flare/Content/Resources/Static/images/ocr-2.jpg
site-flare/Content/Resources/Static/images/ocr-3.jpg
site-flare/Content/Resources/Static/images/ocr-6.jpg
site-flare/Content/Resources/Static/images/ocr-5.jpg
site-flare/Content/Resources/Static/images/ocr-8.jpg
site-flare/Content/Resources/Static/images/ocr-7.jpg
site-flare/Content/Resources/Static/images/ocr-4.jpg
site-flare/Content/Z-David/dummy-1.htm
site-flare/Content/Z-David/OLD-admin-view-types.html
site-flare/Content/Z-David/Test-3.htm
site-flare/Content/Z-David/Test-blank-milestone.htm
site-flare/Project/TOCs/excel-authorities.fltoc
site-flare/Content/excel-authorities/Sheet1.htm
site-flare/Content/security/Test-blank-milestone.htm
site-flare/Project/Imports/excel-authorities.flimpxls
*.mcign
site-flare/Project/Advanced/English (United States) IgnoredWords.mcign
site-flare/Project/TOCs/Production/Master-TOC-InsightEdge.fltoc
site-flare/Project/TOCs/Production/Master-TOC-SmartPortfolio.fltoc
site-flare.7z
site-flare/Content/admin/kubernetes-data-grid-o.html
site-flare/Content/admin/READ-ONLY-kubernetes-data-grid.html
site-flare/Content/admin/test-kubernetes-wan-gateway.html
site-flare/Content/admin/test-kubernetes-wan-gateway.html
site-flare/Content/Z-David/old-kubernetes-wan-gateway.html
site-flare/Content/Z-David/test-kubernetes-wan-gateway.html
site-flare/Content/Z-David/test-kubernetes-wan-gateway.html
site-flare/Project/TOCs/Production/old-Master-TOC.fltoc
site-flare/Project/Exports/XAP-Import-Test-1.flexp
site-flare/Content/started/format-an-accordion-2.html
site-flare/Project/TOCs/NewToc.fltoc
site-flare/Content/flist
site-flare/Content/flist2.docx
site-flare/Content/flist2.txt
site-flare/Content/flist4-trimmed.docx
site-flare/Content/flist3.docx
site-flare/Project/Targets/was-latest-before-16-1-1---InsightEdge-latest.fltar
site-flare/Content/Resources/Static/custom.menu.js-BU-20-april-2022
site-flare/Project/Targets/InsightEdge-16.1.1 - Copy.fltar
site-flare/Content/Resources/Static/attachment_files/image1.png
