**/public*
/.idea
_site/
output/
flare-migration/site-temp/
flare-migration/output/
target/
*.test
*.prof
nohup.out
cover.out
*.swp
*.swo
.DS_Store
*~
**/.idea/ 
**/*.iml
**/.DS_Store
.idea/
*.iml
*.iws
site/themes/hugo-bootswatch/layouts/partials/sidenav*
flare-migration/shortcodes-usage-*.csv
canonical-url-report.txt
site-flare.zip
site-flare/Project/TOCs/Sandbox/test-pages.fltoc
*.fltoc
site-flare/Content/Resources/Static/images/niv numbers.jpg
