.leftbar {
    border-right-style: hidden;
    height:80%;
    margin-top: 60px;
    padding-bottom: 70px;
}

#content {
    margin-left: 0px;
    margin-bottom: 100px;
    margin-top: 50px;
}

#leftbar-div {
    z-index: 200; 
}

@media (max-width: 1000px) {
    #leftbar-div {
        display: none;
    }
    #footer {
        display: none;
    }
}

@media (min-width: 1000px) {
    #content {
        border-left-style: solid;
        border-left-color: rgb(245, 245, 245);
        border-left-width: 1px;
    }
}

@media (max-width: 1200px) {
    .navbar-right { 
        display: none;
    }

    .leftbar {
        margin-top: auto;
        width: 150px; 

    }

    #content {
        margin-top: auto;    
    }
}


#footer {
    background-color: rgb(245, 245, 245);
    position:fixed;
    width: 100%;
    bottom:0;
}


#breadcrumbs {
    padding-top: 15px;
    width: 100%;
    z-index: 100;
    background-color: white;
}

.page-title {
    background-color: white;
    z-index: 200;
}

@media (min-width: 1200px) {
    #breadcrumbs {
        position: fixed;
    }

    .leftbar {
        width: 200px; 
    }

    .page-title {
        width: 709px;
        position: fixed;
    }
    
    .page-content {
        padding-top: 76px;
    }
}

@media (min-width: 1400px) {
    .leftbar {
        width: 230px; 
    }

    .container {
        width: 1400px;
    }

    .page-title {
        width: 862px;
        position: fixed;
    }
}

.breadcrumb {
    z-index: 1000;
}

.treeview {
    width: 95%;
}