
.navbar-default {

#  background-color: #f8f8f8;
  background-color: #cdecf5;
  border-color: #e7e7e7;
}


html, body {
    height: 100%;
}

h1, h2 {
    padding-top: 118px; 
    margin-top: -118px;
}

* {
    margin: 0;
}


#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 60px;
}

#home-content-container {
    padding-top:10px;
    min-height: 650px; 
    padding-left: 0px
}

.push {
    height: 60px;
}

#footer {
    background-color: rgb(245, 245, 245);
    position: relative;
    height: 60px;
    width: 100%;
    clear:both;
    z-index: 300; 
} 


.leftbar {
    border-right-style: hidden;
    border-top-style: hidden; 
    border-bottom-style: hidden; 
    height:80%;
    margin-top: 60px;
    padding-bottom: 70px;
}

#content {
    margin-left: 0px;
    margin-bottom: 100px;
    padding-top: 50px;
}

#home-content {
    margin-left: 0px;
    margin-bottom: 100px;
    margin-top: 50px;
}


#leftbar-div {
    z-index: 200; 
}

@media (max-width: 1000px) {
    #leftbar-div {
        display: none;
    }
    #footer {
        display: none;
    }
}

@media (min-width: 1000px) {
    #content {
        border-left-style: solid;
        border-left-color: rgb(245, 245, 245);
        border-left-width: 1px;
    }
}

@media (max-width: 1200px) {
    .navbar-right { 
        display: none;
    }

    .leftbar {
        margin-top: auto;
        width: 150px; 

    }

    #content {
        margin-top: auto;    
    }

    #home-content {
        margin-top: auto;    
    }    
}



#breadcrumbs {
    padding-top: 15px;
    width: 100%;
    z-index: 100;
    background-color: white;
    position:relative;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: ">>\00a0";
}

.page-title {
    background-color: white;
    padding-top: 17px;
    z-index: 200;
}

@media (min-width: 1200px) {
    #breadcrumbs {
        position: fixed;
    }

    .leftbar {
        width: 200px; 
    }

    .page-title {
        width: 709px;
        /*position: fixed;*/
    }
    
    .page-content {
        /*padding-top: 76px;*/
    }
}

@media (min-width: 1400px) {
    .leftbar {
        width: 230px; 
    }

    .container {
        width: 1400px;
    }

    .page-title {
        width: 862px;
        /*position: fixed;*/
    }
}

.breadcrumb {    
    font-size: 15px;
    font-weight: 500;
    z-index: 1000;
}

.treeview {
    width: 95%;
}

ul li.search-result{ 
  border-bottom:solid 1px #e4e4e4; 
  min-height:64px; 
  padding:10px 0 20px 140px; 
  line-height:18px;
  background:url(../images/bgDocIcon.png) no-repeat scroll 0 23px ;
  list-style-type:none;
}

@media (min-width: 768px) { 
  .sb-fixed {
    position: fixed;
  } 
}

li.search-result em {
  font-style: normal;
  background-color: #FFFF00;
}

