{{ partial "header.html" . }}
{{ partial "navbar.html" . }}


<div class="container-fluid" style="padding-top:10px;min-height: 650px;">


	<div class="col-md-2">
		<div class="leftbar">
			<ul class="treeview" id="tree" >
				{{ partial "sidenav-api_documentation.html" .}}
			</ul>
		</div>

	</div>


	<div class="col-lg-8">
		<h1>{{ .Title }}</h1>
        <hr>
		{{ .Content }}
      <hr>

      {{ partial "pager.html" .}}

	</div>


    {{ partial "toc.html" .}}

</div>

{{ partial "footer.html" . }}

 