{{ if in .Page.Permalink "14.0" }}{{"/xap/14.0/security"}}
{{ else if in .Page.Permalink "12.3" }}{{"/xap/12.3/security"}}
{{ else if in .Page.Permalink "12.2" }}{{"/xap/12.2/security"}}
{{ else if in .Page.Permalink "12.1" }}{{"/xap/12.1/security"}}
{{ else if in .Page.Permalink "12.0" }}{{"/xap/12.0/security"}}
{{ else if in .Page.Permalink "11.0" }}{{"/xap/11.0/security"}}
{{ else if in .Page.Permalink "10.2" }}{{"/xap/10.2/security"}}
{{ else if in .Page.Permalink "10.1" }}{{"/xap/10.1/security"}}
{{ else if in .Page.Permalink "10.0" }}{{"/xap/10.0/security"}}
{{ else }}{{.Page.Site.Params.latest_sec_url}}{{ end }}