{{ if in .Page.Permalink "12.3" }}{{"/xap/12.3/dev-java"}}
{{ else if in .Page.Permalink "12.2" }}{{"/xap/12.2/dev-java"}}
{{ else if in .Page.Permalink "12.1" }}{{"/xap/12.1/dev-java"}}
{{ else if in .Page.Permalink "12.0" }}{{"/xap/12.0/dev-java"}}
{{ else if in .Page.Permalink "11.0" }}{{"/xap/11.0/dev-java"}}
{{ else if in .Page.Permalink "10.2" }}{{"/xap/10.2/dev-java"}}
{{ else if in .Page.Permalink "10.1" }}{{"/xap/10.1/dev-java"}}
{{ else if in .Page.Permalink "10.0" }}{{"/xap/10.0/dev-java"}}
{{ else if in .Page.Permalink "9.7" }} {{"/xap/9.7/dev-java"}}
{{ else }}{{ index .Page.Site.Params "latest_java_url"}}{{ end }}