{{ partial "header.html" . }}
{{ partial "navbar102.html" . }}


<div class="container-fluid" style="padding-top:10px;min-height: 650px;">

    <div class="col-md-2">
        <div class="leftbar">
            <ul class="treeview" id="tree" >
                {{ partial "sidenav-xap102.html" .}}
            </ul>
        </div>

    </div>

    <div id="content" class="col-md-8">
        <button id="edit-on-github" data-toggle="popover" type="button" class="btn btn-default"
                style="float: right;"><i class="fa fa-github-alt icon-large"></i>&nbsp;&nbsp;Edit
        </button>

        <h1 style="margin-top: 0px;">{{ .Title }}</h1>
        <hr>
        {{ .Content }}
    </div>


    {{ partial "toc.html" .}}

</div>

{{ partial "footer.html" . }}

 