{{ partial "header.html" . }}
{{ partial "navbar102.html" . }}


<div class="container">
    <div id="breadcrumbs" class="row">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            {{ if in .Permalink "xap102nettut"}}
            <li><a href="/xap102nettut">10.2 .Net Tutorial</a></li>
            {{ else if in .Permalink "xap102sec"}}
            <li><a href="/xap102sec">10.2 Security</a></li>
            {{ else if in .Permalink "xap102net"}}
            <li><a href="/xap102net">10.2 .Net</a></li>
            {{ else if in .Permalink "xap102adm"}}
            <li><a href="/xap102adm">10.2 Administration</a></li>
            {{ else if in .Permalink "xap102tut"}}
            <li><a href="/xap102tut">10.2 Java Tutorial</a></li>
            {{ else if in .Permalink "xap102"}}
            <li><a href="/xap102">10.2 Java</a></li>
            {{end}}
            <li class="active">{{.Title}}</li>
        </ol>
    </div>
    <div class="container-fluid">

        <div id="leftbar-div" class="col-md-2 hidden-xs">
            <div class="leftbar">
                <ul class="treeview" id="tree">
                    {{ if in .Permalink "xap102nettut"}}{{ partial "sidenav-xap102nettut.html" .}}
                    {{ else if in .Permalink "xap102sec"}}{{ partial "sidenav-xap102sec.html" .}}
                    {{ else if in .Permalink "xap102net"}}{{ partial "sidenav-xap102net.html" .}}
                    {{ else if in .Permalink "xap102adm"}}{{ partial "sidenav-xap102adm.html" .}}
                    {{ else if in .Permalink "xap102tut"}}{{ partial "sidenav-xap102tut.html" .}}
                    {{ else if in .Permalink "xap102"}}{{ partial "sidenav-xap102.html" .}}
                    {{end}}
                </ul>
            </div>

        </div>

        <div id="content" class="col-md-8">
            <div class="page-title">
                <button id="edit-on-github" data-toggle="popover" type="button" class="btn btn-default"
                        style="float: right;border:0px"><i class="fa fa-pencil-square-o fa-lg"></i>
                </button>
                <h1 style="margin-top: 0px;">{{ .Title }}</h1>
                <hr>
            </div>
            <div class="page-content">
                {{ .Content }}
            </div>
        </div>


        {{ partial "toc.html" .}}

    </div>
</div>

{{ partial "footer.html" . }}

 