<li><a href='./overview.html'>Overview</a></li>
<li><a href='./concepts.html'>Concepts</a></li>
<li><a href='./terminology.html'>Terminology</a></li>
<li><a href='./product-architecture.html'>Product Architecture</a></li>
<li><a href='./the-application-layer.html'>Application Layer</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href=the-runtime-environment.html>The Service Grid</a>
<ul style='display: none'>
<li><a href='./service-grid.html'>Service Grid Components</a></li>
<li><a href='./the-lookup-service.html'>The Lookup Service</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href=the-in-memory-data-grid.html>The In-Memory Data Grid</a>
<ul style='display: none'>
<li><a href='./space-topologies.html'>Topologies</a></li>
<li><a href='./caching-scenarios.html'>Caching Scenarios</a></li>
<li><a href='./client-side-caching.html'>Client Side Caching</a></li>
<li><a href='./database-integration.html'>Database Integration</a></li>
<li><a href='./services-on-top-of-the-data-grid.html'>Services on top of the Data Grid</a></li>
</ul>
</li>
<li><a href='./space-based-architecture.html'>Space Based Architecture</a></li>
<li><a href='./j2ee-vs-xap.html'>J2EE vs. XAP</a></li>
<li><a href='./about-jini.html'>About Jini</a></li>
<li><a href='./real-time-analytics.html'>Real Time Big-Data Analytics</a></li>

