<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./installation.html'>Installation</a>
<ul style='display: none'>
<li><a href='./license-key.html'>License Key</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./installation-java.html'>Java</a>
<ul style='display: none'>
<li><a href='./common-environment-variables.html'>Environment Variables</a></li>
<li><a href='./setting-classpath.html'>Setting Classpath</a></li>
<li><a href='./setting-jvm-location.html'>Setting JVM Location</a></li>
</ul>
</li>
<li><a href='./installing-cpp-api-package.html'>C++</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./maven-plugin.html'>Maven Plugin</a>
<ul style='display: none'>
<li><a href='./maven-plugin-advanced.html'>Advanced Configuration</a></li>
</ul>
</li>
<li><a href='./setting-up-eclipse-to-work-with-xap.html'>Eclipse setup</a></li>
<li><a href='./running-and-debugging-within-your-ide.html'>Running and Debugging Within Your IDE</a></li>
<li><a href='./running-gigaspaces-as-a-windows-service.html'>XAP as Windows Service</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./tutorials.html'>Getting Started</a>
<ul style='display: none'>
<li><a href='./your-first-data-grid-application.html'>XAP in 5 Minutes</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./java-home.html'>Full Tutorial</a>
<ul style='display: none'>
<li><a href='./java-tutorial-part1.html'>Interacting with the Space</a></li>
<li><a href='./java-tutorial-part2.html'>Deploying a Space</a></li>
<li><a href='./java-tutorial-part3.html'>Processing Services</a></li>
<li><a href='./java-tutorial-part4.html'>Events and Messaging</a></li>
<li><a href='./java-tutorial-part5.html'>The Processing Unit</a></li>
<li><a href='./java-tutorial-part6.html'>Space Transactions</a></li>
<li><a href='./java-tutorial-part7.html'>Space Persistence</a></li>
<li><a href='./java-tutorial-part8.html'>Web Processing Unit</a></li>
<li><a href='./java-tutorial-part9.html'>Big Data</a></li>
<li><a href='./java-tutorial-part10.html'>Security</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./cook-books.html'>Cook Books</a>
<ul style='display: none'>
<li><a href='./installation-guide.html'>Installation Guide</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./your-first-web-application.html'>Your First Web Application</a>
<ul style='display: none'>
<li><a href='./step-1-deploying-your-web-application-to-the-gigaspaces-environment.html'>Step 1 - Deploying Your Web Application to the GigaSpaces Environment</a></li>
<li><a href='./step-2-enabling-http-session-failover-and-fault-tolerance.html'>Step 2 - Enabling HTTP Session Failover and Fault Tolerance</a></li>
<li><a href='./step-3-scaling-the-data-access-layer.html'>Step 3 - Scaling the Data Access Layer</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./your-first-xtp-application.html'>Your First XAP Application</a>
<ul style='display: none'>
<li><a href='./step-one-using-processing-units-for-scaling.html'>Step One - Using Processing Units for Scaling</a></li>
<li><a href='./step-two-creating-the-hello-world-application.html'>Step Two - Creating the Hello World Application</a></li>
<li><a href='./step-three-deploying-onto-the-service-grid.html'>Step Three - Deploying onto the Service Grid</a></li>
<li><a href='./step-four-scaling-the-hello-world-application.html'>Step Four - Scaling the Hello World Application</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./your-first-jpa-application.html'>Your First JPA Application</a>
<ul style='display: none'>
<li><a href='./step-1-adjusting-your-jpa-domain-model-to-the-xap-jpa-implementation.html'>Step 1 - Adjusting Your JPA Domain Model to XAP</a></li>
<li><a href='./step-2-using-the-power-of-the-space-to-scale-your-data-access-layer.html'>Step 2 - Using the Power of the Space to Scale Your Data Access Layer</a></li>
<li><a href='./step-3-building-and-running-the-application.html'>Step 3 - Building and Running the Application</a></li>
</ul>
</li>
<li><a href='./your-first-real-time-big-data-analytics-application.html'>Your First Real Time Big Data Analytics Application</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./beyond-the-basics.html'>Beyond the Basics</a>
<ul style='display: none'>
<li><a href='./the-openspaces-data-example.html'>Data Example</a></li>
<li><a href='./xap-order-management-tutorial.html'>Order Management Tutorial</a></li>
<li><a href='./a-typical-sba-application.html'>A Typical SBA Application</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./programmers-guide.html'>Development</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./pojo-overview.html'>POJO Support</a>
<ul style='display: none'>
<li><a href='./pojo-support.html'>Overview</a></li>
<li><a href='./dynamic-properties.html'>Dynamic Properties</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./document-overview.html'>Space Document</a>
<ul style='display: none'>
<li><a href='./document-api.html'>Document API</a></li>
<li><a href='./document-extending.html'>Extended Document</a></li>
<li><a href='./document-pojo-interoperability.html'>Interoperability</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./modeling-your-data.html'>Modeling your Data</a>
<ul style='display: none'>
<li><a href='./space-object-id-operations.html'>Space Object ID</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./pojo-annotation-overview.html'>Annotation based Metadata</a>
<ul style='display: none'>
<li><a href='./pojo-class-annotations.html'>Class Annotations</a></li>
<li><a href='./pojo-attribute-annotations.html'>Property Annotations</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./pojo-xml-metadata-overview.html'>XML based Metadata</a>
<ul style='display: none'>
<li><a href='./pojo-xml-metadata-class.html'>Class Metadata</a></li>
<li><a href='./pojo-xml-metadata-attribute.html'>Properties Metadata</a></li>
</ul>
</li>
<li><a href='./storage-types-controlling-serialization.html'>Storage Types</a></li>
<li><a href='./routing-in-partitioned-spaces.html'>Routing In Partitioned Spaces</a></li>
<li><a href='./custom-serialization.html'>Custom Serialization</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./the-gigaspace-interface-overview.html'>The Space Interface</a>
<ul style='display: none'>
<li><a href='./the-gigaspace-interface.html'>Overview</a></li>
<li><a href='./the-space-configuration.html'>Configuration</a></li>
<li><a href='./the-space-operations.html'>Operations</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./change-api.html'>Change API</a>
<ul style='display: none'>
<li><a href='./change-api-advanced.html'>Advanced</a></li>
</ul>
</li>
<li><a href='./the-space-counters.html'>Counters</a></li>
<li><a href='./the-space-transactions.html'>Transactions</a></li>
<li><a href='./the-space-notifications.html'>Notifications</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./the-space-filters.html'>Filters</a>
<ul style='display: none'>
<li><a href='./the-space-filters-metadata.html'>Interceptors</a></li>
</ul>
</li>
<li><a href='./space-mode-context-loader.html'>Space Mode Context Loader</a></li>
<li><a href='./leases-automatic-expiration.html'>Lease Time</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./querying-the-space.html'>Querying the Space</a>
<ul style='display: none'>
<li><a href='./query-by-id.html'>Id Queries</a></li>
<li><a href='./query-template-matching.html'>Template Matching</a></li>
<li><a href='./query-sql.html'>SQLQuery</a></li>
<li><a href='./query-nested-properties.html'>Nested Properties</a></li>
<li><a href='./query-user-defined-classes.html'>User Defined Classes</a></li>
<li><a href='./query-paging-support.html'>Paging Support</a></li>
<li><a href='./query-partial-results.html'>Partial Results</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./indexing-overview.html'>Indexing</a>
<ul style='display: none'>
<li><a href='./indexing.html'>Basic Index</a></li>
<li><a href='./indexing-nested-properties.html'>Nested Property Index</a></li>
<li><a href='./indexing-collections.html'>Collection Index</a></li>
<li><a href='./indexing-compound.html'>Compound Index</a></li>
<li><a href='./indexing-unique.html'>Unique Index</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./transaction-overview.html'>Transactions</a>
<ul style='display: none'>
<li><a href='./transaction-management.html'>Transaction Management</a></li>
<li><a href='./transaction-locking-and-blocking.html'>Locking and Blocking</a></li>
<li><a href='./transaction-read-modifiers.html'>Read Modifiers</a></li>
<li><a href='./transaction-optimistic-locking.html'>Optimistic Locking</a></li>
<li><a href='./transaction-pessimistic-locking.html'>Pessimistic Locking</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./space-persistency-overview.html'>Space Persistency</a>
<ul style='display: none'>
<li><a href='./space-persistency.html'>Overview</a></li>
<li><a href='./direct-persistency.html'>Direct Persistency</a></li>
<li><a href='./hibernate-space-persistency.html'>Hibernate Integration</a></li>
<li><a href='./space-data-source-api.html'>Data Source</a></li>
<li><a href='./space-synchronization-endpoint-api.html'>Synchronization Endpoint</a></li>
<li><a href='./space-persistency-initial-load.html'>Initial Load</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./asynchronous-persistency-with-the-mirror.html'>Asynchronous Persistency - Write Behind</a>
<ul style='display: none'>
<li><a href='./async-persistency-mirror-advanced.html'>Advanced Configuration</a></li>
</ul>
</li>
<li><a href='./transient-entries.html'>Transient Entries</a></li>
<li><a href='./space-persistency-advanced-topics.html'>Advanced Topics</a></li>
<li><a href='./persistency-migrating-hibernate.html'>Migrating from Hibernate</a></li>
<li><a href='./migrating-from-external-data-source-api.html'>Migrating From External Data Source API</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./other-data-access-apis.html'>Other Data Access APIs</a>
<ul style='display: none'>
<li><a href='./jdbc-driver.html'>JDBC Driver</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./jpa-api.html'>JPA API</a>
<ul style='display: none'>
<li><a href='./jpa-entity-id.html'>JPA Entity Id</a></li>
<li><a href='./jpa-relationships.html'>JPA Relationships</a></li>
<li><a href='./gigaspaces-jpa-limitations.html'>Limitations</a></li>
</ul>
</li>
<li><a href='./map-api.html'>Map API</a></li>
<li><a href='./memcached-api.html'>Memcached API</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./client-side-caching.html'>Client Side Caching</a>
<ul style='display: none'>
<li><a href='./local-cache.html'>Local Cache</a></li>
<li><a href='./local-view.html'>Local View</a></li>
<li><a href='./client-side-caching-over-the-wan.html'>Caching over the WAN</a></li>
<li><a href='./monitoring-the-client-side-cache.html'>Monitoring Client Side Cache</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./task-execution-overview.html'>Task Execution</a>
<ul style='display: none'>
<li><a href='./task-execution-over-the-space.html'>Overview</a></li>
<li><a href='./aggregators.html'>Aggregators</a></li>
<li><a href='./dynamic-language-tasks.html'>Dynamic Language Tasks</a></li>
<li><a href='./task-metadata.html'>Metadata</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./event-processing.html'>Event Processing</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./notify-container.html'>Notify Container</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./session-based-messaging-api.html'>Session Based Messaging API</a>
<ul style='display: none'>
<li><a href='./durable-notifications.html'>Durable Notifications</a></li>
<li><a href='./slow-consumer.html'>Slow Consumer</a></li>
<li><a href='./custom-data-event-filters.html'>Custom Data Event Filters</a></li>
</ul>
</li>
</ul>
</li>
<li><a href='./polling-container.html'>Polling Container</a></li>
<li><a href='./data-event-listener.html'>Data Event Listener</a></li>
<li><a href='./event-exception-handler.html'>Event Exception Handler</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./fifo-overview.html'>FIFO Ordering</a>
<ul style='display: none'>
<li><a href='./fifo-support.html'>FIFO Support</a></li>
<li><a href='./fifo-grouping.html'>FIFO Grouping</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./messaging-support.html'>JMS Messaging Support</a>
<ul style='display: none'>
<li><a href='./jms-api-basic-usage.html'>JMS Basics</a></li>
<li><a href='./jms-messages-in-gigaspaces.html'>JMS Messages in XAP</a></li>
<li><a href='./jms-space-interoperability.html'>JMS-Space Interoperability</a></li>
<li><a href='./jms-with-openspaces-example.html'>Example</a></li>
<li><a href='./jms-with-gigaspaces-jndi.html'>XAP JNDI</a></li>
<li><a href='./jms-with-gsjmsadmin.html'>Working with GSJMSAdmin</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./jms-advanced.html'>Advanced Options</a>
<ul style='display: none'>
<li><a href='./jms-failover.html'>JMS Failover</a></li>
<li><a href='./jms-transactions-in-gigaspaces.html'>Transactions</a></li>
<li><a href='./jms-user-security.html'>Security</a></li>
<li><a href='./jms-queue-browser.html'>Browsing JMS Queues</a></li>
<li><a href='./jms-known-issues-and-considerations.html'>Known Issues and Considerations</a></li>
<li><a href='./jms-without-changing-the-classpath.html'>Using GigaSpaces JMS Without Changing the Classpath</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./space-based-remoting-overview.html'>Space Based Remoting</a>
<ul style='display: none'>
<li><a href='./space-based-remoting.html'>Overview</a></li>
<li><a href='./executor-based-remoting.html'>Executor Based Remoting</a></li>
<li><a href='./event-driven-remoting.html'>Event Driven Remoting</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./mule-esb.html'>Mule ESB Integration</a>
<ul style='display: none'>
<li><a href='./mule-event-container-transport.html'>Event Container Transport</a></li>
<li><a href='./mule-processing-unit.html'>Processing Unit</a></li>
<li><a href='./mule-queue-provider.html'>Queue Provider</a></li>
<li><a href='./mule-seda-model.html'>SEDA Model</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./big-data.html'>Big Data Integration</a>
<ul style='display: none'>
<li><a href='./archive-container.html'>Archive Container</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./cassandra.html'>Cassandra Integration</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./cassandra-space-persistency.html'>Cassandra Persistency</a>
<ul style='display: none'>
<li><a href='./cassandra-space-data-source.html'>Data Source</a></li>
<li><a href='./cassandra-space-synchronization-endpoint.html'>Synchronization Endpoint</a></li>
<li><a href='./cassandra-hector-client.html'>Hector Client</a></li>
</ul>
</li>
<li><a href='./cassandra-archive-operation-handler.html'>Archive Handler</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./mongodb.html'>MongoDB Integration</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./mongodb-space-persistency.html'>Mongo Persistency</a>
<ul style='display: none'>
<li><a href='./mongodb-space-data-source.html'>Data Source</a></li>
<li><a href='./mongodb-space-synchronization-endpoint.html'>Synchronization Endpoint</a></li>
</ul>
</li>
<li><a href='./mongodb-archive-operation-handler.html'>Archive Handler</a></li>
</ul>
</li>
</ul>
</li>
<li><a href='./logging-api.html'>Logging API</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./administration-and-monitoring-overview.html'>Admin and Monitoring</a>
<ul style='display: none'>
<li><a href='./administration-and-monitoring-api.html'>Admin API</a></li>
<li><a href='./dump.html'>Dump</a></li>
<li><a href='./administrative-alerts.html'>Administrative Alerts</a></li>
<li><a href='./snmp-connectivity-via-alert-logging-gateway.html'>SNMP Alerts</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./interoperability-overview.html'>Platform Interoperability</a>
<ul style='display: none'>
<li><a href='./interoperability.html'>Overview</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./xap-cpp.html'>CPP</a>
<ul style='display: none'>
<li><a href='./cpp-overview.html'>Overview</a></li>
<li><a href='./cpp-space-interface.html'>The CPP Space Interface</a></li>
<li><a href='./cpp-api-mapping-file.html'>API Mapping File</a></li>
<li><a href='./cpp-type-converter.html'>Type Converter</a></li>
<li><a href='./cpp-processing-unit.html'>Processing Unit</a></li>
<li><a href='./cpp-api-code-generator.html'>API Code Generator</a></li>
<li><a href='./cpp-gsxml-utility.html'>gsxml2cpp Utility</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./cpp-api-examples.html'>CPP Examples</a>
<ul style='display: none'>
<li><a href='./cpp-api-hello-world-example.html'>CPP Hello World</a></li>
<li><a href='./cpp-api-usage-example.html'>CPP API Usage</a></li>
<li><a href='./cpp-processing-unit-example.html'>Processing Unit</a></li>
<li><a href='./cpp-writing-existing-class-to-space.html'>Writing Existing Class to Space</a></li>
</ul>
</li>
</ul>
</li>
<li><a href='./rest-api.html'>REST API</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./scala.html'>Scala</a>
<ul style='display: none'>
<li><a href='./scala-constructor-based-properties.html'>Constructor Based Properties</a></li>
<li><a href='./scala-enhanced-repl.html'>Enhanced Scala REPL</a></li>
<li><a href='./scala-predicate-based-queries.html'>Predicate Based Queries</a></li>
<li><a href='./scala-scripting-executor.html'>Scripting Executor</a></li>
<li><a href='./scala-task-execution.html'>Scala Task Execution</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./security-overview.html'>Security</a>
<ul style='display: none'>
<li><a href='./security.html'>Overview</a></li>
<li><a href='./security-concepts.html'>Concepts</a></li>
<li><a href='./security-authorities.html'>Authorities</a></li>
<li><a href='./security-configurations.html'>Security Configuration</a></li>
<li><a href='./programmatically-managing-the-security-directory.html'>Directory Management</a></li>
<li><a href='./default-file-based-security-implementation.html'>Default File-Based Security</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./securing-xap-components.html'>Securing Components</a>
<ul style='display: none'>
<li><a href='./securing-your-data.html'>Data</a></li>
<li><a href='./securing-the-grid-services.html'>Grid Services</a></li>
<li><a href='./securing-the-transport-layer-using-ssl.html'>Securing the Transport Layer</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./security-administration.html'>Administration</a>
<ul style='display: none'>
<li><a href='./gigaspaces-management-center-(ui)-security.html'>Management Center</a></li>
<li><a href='./command-line-interface-cli-security.html'>Command Line Interface</a></li>
<li><a href='./administration-and-monitoring-api-security.html'>Security Admin API</a></li>
<li><a href='./auditing.html'>Auditing</a></li>
<li><a href='./java-security-policy-file.html'>Java Security Policy File</a></li>
</ul>
</li>
<li><a href='./securing-the-helloworld-example.html'>HelloWorld example</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./custom-security.html'>Custom Security</a>
<ul style='display: none'>
<li><a href='./custom-authentication.html'>Authentication</a></li>
<li><a href='./custom-user-role-management.html'>User-Role Management</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./spring-security-bridge.html'>Spring Security Bridge</a>
<ul style='display: none'>
<li><a href='./introducing-spring-security.html'>Spring Security</a></li>
<li><a href='./gigaspaces-spring-based-security-bridge.html'>Spring-based bridge</a></li>
<li><a href='./authenticating-against-a-database.html'>Database Authenticating</a></li>
<li><a href='./authenticating-against-an-ldap-repository.html'>LDAP Authenticating</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./web-application-overview.html'>Web Application Support</a>
<ul style='display: none'>
<li><a href='./web-application-support.html'>Overview</a></li>
<li><a href='./web-jetty-processing-unit-container.html'>Jetty Processing Unit Container</a></li>
<li><a href='./http-session-management.html'>HTTP Session Management</a></li>
<li><a href='./web-processing-unit-container.html'>Web Processing Unit Container</a></li>
<li><a href='./apache-load-balancer-agent.html'>Apache Load Balancer Agent</a></li>
<li><a href='./global-http-session-sharing.html'>Global HTTP Session Sharing</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./administrators-guide.html'>Deployment and Administration</a>
<ul style='display: none'>
<li><a href='./deploying-and-interacting-with-the-space.html'>Deploying and Interacting with the Space</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./packaging-and-deployment.html'>Packaging and Deployment</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./the-processing-unit-overview.html'>The Processing Unit</a>
<ul style='display: none'>
<li><a href='./the-processing-unit-structure-and-configuration.html'>Directory Structure</a></li>
<li><a href='./configuring-processing-unit-elements.html'>Configuration</a></li>
<li><a href='./configuring-the-processing-unit-sla.html'>SLA Definition</a></li>
<li><a href='./custom-processing-unit-details-and-monitors.html'>Custom Processing Unit</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./deploying-and-running-overview.html'>Deploying and Running</a>
<ul style='display: none'>
<li><a href='./deploying-and-running-the-processing-unit.html'>Overview</a></li>
<li><a href='./running-in-standalone-mode.html'>Standalone Mode</a></li>
<li><a href='./deploying-onto-the-service-grid.html'>Deploying onto the Grid</a></li>
<li><a href='./deployment-properties.html'>Deployment Properties</a></li>
</ul>
</li>
<li><a href='./elastic-processing-unit.html'>Elastic Processing Unit</a></li>
<li><a href='./deploying-your-application-on-a-cloud.html'>Deploying on a Cloud</a></li>
<li><a href='./obtaining-cluster-information.html'>Cluster Information</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./memory-management-overview.html'>Memory Management</a>
<ul style='display: none'>
<li><a href='./memory-management-facilities.html'>Overview</a></li>
<li><a href='./all-in-cache-cache-policy.html'>ALL IN CACHE-Cache Policy</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./lru-cache-policy.html'>LRU-Cache Policy</a>
<ul style='display: none'>
<li><a href='./custom-eviction-policy.html'>Custom Eviction Policy</a></li>
</ul>
</li>
</ul>
</li>
<li><a href='./reloading-business-logic.html'>Reloading Business Logic</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./data-grid-clustering.html'>Data Grid Clustering</a>
<ul style='display: none'>
<li><a href='./data-grid-clustering-overview.html'>Overview</a></li>
<li><a href='./clustered-vs-non-clustered-proxies.html'>Clustered vs Non-Clustered Proxies</a></li>
<li><a href='./consistency-level.html'>Consistency Level</a></li>
<li><a href='./data-partitioning.html'>Data-Partitioning</a></li>
<li><a href='./failover.html'>Failover</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./replication.html'>Replication</a>
<ul style='display: none'>
<li><a href='./replication-overview.html'>Overview</a></li>
<li><a href='./replication-topologies.html'>Topologies</a></li>
<li><a href='./synchronous-replication.html'>Synchronous Replication</a></li>
<li><a href='./asynchronous-replication.html'>Asynchronous Replication</a></li>
<li><a href='./space-instance-recovery.html'>Space Instance Recovery</a></li>
<li><a href='./cluster-replication-filters.html'>Replication Filters</a></li>
<li><a href='./replication-operations.html'>Replication Operations</a></li>
<li><a href='./controlling-the-replication-redo-log.html'>Controlling the Replication Redo Log</a></li>
<li><a href='./replication-parameters.html'>Replication Parameters</a></li>
</ul>
</li>
<li><a href='./split-brain-and-primary-resolution.html'>Split Brain and Primary Resolution</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./multi-space-replication-overview.html'>Multi Site LAN Replication</a>
<ul style='display: none'>
<li><a href='./multi-space-replication-over-the-lan-or-vpn.html'>Overview</a></li>
<li><a href='./replication-gateway-lan-bootstrapping-process.html'>Gateway Bootstrapping</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./multi-site-replication-overview.html'>Multi Site WAN Replication</a>
<ul style='display: none'>
<li><a href='./multi-site-replication-over-the-wan.html'>Overview</a></li>
<li><a href='./communication-filter-over-the-wan.html'>Communication Filter</a></li>
<li><a href='./replication-gateway-components.html'>Gateway Components</a></li>
<li><a href='./configuring-space-gateway-targets.html'>Configuring Targets</a></li>
<li><a href='./replication-gateway-bootstrapping-process.html'>Bootstrapping Process</a></li>
<li><a href='./multi-site-conflict-resolution.html'>Conflict Resolution</a></li>
<li><a href='./changing-multi-site-deployment-during-runtime.html'>Changing Deployment during Runtime</a></li>
<li><a href='./replication-gateway-filtering.html'>Filtering  Data</a></li>
<li><a href='./intercepting-replication-events-at-the-gateway.html'>Intercepting Replication Events</a></li>
<li><a href='./multi-site-replication-limitations.html'>Limitations</a></li>
</ul>
</li>

