<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./installation.html'>Installation</a>
<ul style='display: none'>
<li><a href='./license-key.html'>License Key</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./installation-java.html'>XAP Java Installation</a>
<ul style='display: none'>
<li><a href='./common-environment-variables.html'>Environment Variables</a></li>
<li><a href='./setting-classpath.html'>Setting Classpath</a></li>
<li><a href='./setting-jvm-location.html'>Setting JVM Location</a></li>
</ul>
</li>
<li><a href='./installing-cpp-api-package.html'>C++</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./maven-plugin.html'>Maven Plugin</a>
<ul style='display: none'>
<li><a href='./maven-plugin-advanced.html'>Advanced Configuration</a></li>
</ul>
</li>
<li><a href='./setting-up-eclipse-to-work-with-xap.html'>Eclipse setup</a></li>
<li><a href='./running-and-debugging-within-your-ide.html'>Running and Debugging Within Your IDE</a></li>
<li><a href='./running-gigaspaces-as-a-windows-service.html'>XAP as Windows Service</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./pojo-overview.html'>POJO Support</a>
<ul style='display: none'>
<li><a href='./pojo-support.html'>Overview</a></li>
<li><a href='./dynamic-properties.html'>Dynamic Properties</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./document-overview.html'>Space Document</a>
<ul style='display: none'>
<li><a href='./document-api.html'>Document API</a></li>
<li><a href='./document-extending.html'>Extended Document</a></li>
<li><a href='./document-pojo-interoperability.html'>Interoperability</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./modeling-your-data.html'>Modeling your Data</a>
<ul style='display: none'>
<li><a href='./space-object-id-operations.html'>Space Object ID</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./pojo-annotation-overview.html'>Annotation based Metadata</a>
<ul style='display: none'>
<li><a href='./pojo-class-annotations.html'>Class Annotations</a></li>
<li><a href='./pojo-attribute-annotations.html'>Property Annotations</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./pojo-xml-metadata-overview.html'>XML based Metadata</a>
<ul style='display: none'>
<li><a href='./pojo-xml-metadata-class.html'>Class Metadata</a></li>
<li><a href='./pojo-xml-metadata-attribute.html'>Properties Metadata</a></li>
</ul>
</li>
<li><a href='./storage-types-controlling-serialization.html'>Storage Types</a></li>
<li><a href='./custom-serialization.html'>Custom Serialization</a></li>
<li><a href='./routing-in-partitioned-spaces.html'>Routing In Partitioned Spaces</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./the-gigaspace-interface-overview.html'>The Space Interface</a>
<ul style='display: none'>
<li><a href='./the-gigaspace-interface.html'>Overview</a></li>
<li><a href='./the-space-configuration.html'>Configuration</a></li>
<li><a href='./the-space-operations.html'>Operations</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./change-api-overview.html'>Change API</a>
<ul style='display: none'>
<li><a href='./change-api.html'>Overview</a></li>
<li><a href='./change-api-custom-operation.html'>Custom Change</a></li>
<li><a href='./change-api-advanced.html'>Advanced</a></li>
</ul>
</li>
<li><a href='./the-space-counters.html'>Counters</a></li>
<li><a href='./aggregators.html'>Aggregators</a></li>
<li><a href='./the-space-transactions.html'>Transactions</a></li>
<li><a href='./the-space-notifications.html'>Notifications</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./the-space-filters.html'>Space Filters</a>
<ul style='display: none'>
<li><a href='./the-space-filters-metadata.html'>Interceptors</a></li>
</ul>
</li>
<li><a href='./space-mode-context-loader.html'>Space Mode Context Loader</a></li>
<li><a href='./leases-automatic-expiration.html'>Lease Time</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./querying-the-space.html'>Querying the Space</a>
<ul style='display: none'>
<li><a href='./query-by-id.html'>Id Queries</a></li>
<li><a href='./query-template-matching.html'>Template Matching</a></li>
<li><a href='./query-sql.html'>SQLQuery</a></li>
<li><a href='./query-free-text-search.html'>Free Text Search</a></li>
<li><a href='./query-nested-properties.html'>Nested Properties</a></li>
<li><a href='./query-user-defined-classes.html'>User Defined Classes</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./query-paging-support.html'>Paging Support</a>
<ul style='display: none'>
<li><a href='./query-paging-support-old.html'>Paging Support - GSIterator</a></li>
</ul>
</li>
<li><a href='./query-partial-results.html'>Projection</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./indexing-overview.html'>Indexing</a>
<ul style='display: none'>
<li><a href='./indexing.html'>Basic Index</a></li>
<li><a href='./indexing-nested-properties.html'>Nested Property Index</a></li>
<li><a href='./indexing-collections.html'>Collection Index</a></li>
<li><a href='./indexing-compound.html'>Compound Index</a></li>
<li><a href='./indexing-unique.html'>Unique Index</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./transaction-overview.html'>Transactions</a>
<ul style='display: none'>
<li><a href='./transaction-management.html'>Transaction Management</a></li>
<li><a href='./transaction-locking-and-blocking.html'>Locking and Blocking</a></li>
<li><a href='./transaction-read-modifiers.html'>Read Modifiers</a></li>
<li><a href='./transaction-optimistic-locking.html'>Optimistic Locking</a></li>
<li><a href='./transaction-pessimistic-locking.html'>Pessimistic Locking</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./space-persistency-overview.html'>Space Persistency</a>
<ul style='display: none'>
<li><a href='./space-persistency.html'>Overview</a></li>
<li><a href='./direct-persistency.html'>Direct Persistency</a></li>
<li><a href='./hibernate-space-persistency.html'>Hibernate Integration</a></li>
<li><a href='./space-data-source-api.html'>Data Source</a></li>
<li><a href='./space-synchronization-endpoint-api.html'>Synchronization Endpoint</a></li>
<li><a href='./space-persistency-initial-load.html'>Initial Load</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./asynchronous-persistency-with-the-mirror.html'>Asynchronous Persistency - Write Behind</a>
<ul style='display: none'>
<li><a href='./async-persistency-mirror-advanced.html'>Advanced Configuration</a></li>
</ul>
</li>
<li><a href='./transient-entries.html'>Transient Entries</a></li>
<li><a href='./space-persistency-advanced-topics.html'>Advanced Topics</a></li>
<li><a href='./persistency-migrating-hibernate.html'>Migrating from Hibernate</a></li>
<li><a href='./migrating-from-external-data-source-api.html'>Migrating From External Data Source API</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./other-data-access-apis.html'>Other Data Access APIs</a>
<ul style='display: none'>
<li><a href='./jdbc-driver.html'>JDBC Driver</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./jpa-api-overview.html'>JPA API</a>
<ul style='display: none'>
<li><a href='./jpa-api.html'>Overview</a></li>
<li><a href='./jpa-entity-id.html'>JPA Entity Id</a></li>
<li><a href='./jpa-relationships.html'>JPA Relationships</a></li>
<li><a href='./jpa-limitations.html'>Limitations</a></li>
</ul>
</li>
<li><a href='./map-api.html'>Map API</a></li>
<li><a href='./memcached-api.html'>Memcached API</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./client-side-caching.html'>Client Side Caching</a>
<ul style='display: none'>
<li><a href='./local-cache.html'>Local Cache</a></li>
<li><a href='./local-view.html'>Local View</a></li>
<li><a href='./client-side-caching-over-the-wan.html'>Caching over the WAN</a></li>
<li><a href='./monitoring-the-client-side-cache.html'>Monitoring Client Side Cache</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./task-execution-overview.html'>Task Execution</a>
<ul style='display: none'>
<li><a href='./task-execution-over-the-space.html'>Overview</a></li>
<li><a href='./dynamic-language-tasks.html'>Dynamic Language Tasks</a></li>
<li><a href='./task-metadata.html'>Metadata</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./event-processing.html'>Event Processing</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./notify-container-overview.html'>Notify Container</a>
<ul style='display: none'>
<li><a href='./notify-container.html'>Overview</a></li>
<li><a href='./notify-container-transactions.html'>Transaction Support</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./session-based-messaging-api.html'>Session Based Messaging API</a>
<ul style='display: none'>
<li><a href='./durable-notifications.html'>Durable Notifications</a></li>
<li><a href='./custom-data-event-filters.html'>Custom Data Event Filters</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./polling-container-overview.html'>Polling Container</a>
<ul style='display: none'>
<li><a href='./polling-container.html'>Overview</a></li>
<li><a href='./polling-container-transactions.html'>Transaction Support</a></li>
<li><a href='./polling-container-scaling.html'>Concurrent Consumers</a></li>
</ul>
</li>
<li><a href='./data-event-listener.html'>Data Event Listener</a></li>
<li><a href='./event-exception-handler.html'>Event Exception Handler</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./fifo-overview.html'>FIFO Ordering</a>
<ul style='display: none'>
<li><a href='./fifo-support.html'>FIFO Support</a></li>
<li><a href='./fifo-grouping.html'>FIFO Grouping</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./messaging-support.html'>JMS Messaging Support</a>
<ul style='display: none'>
<li><a href='./jms-api-basic-usage.html'>JMS Basics</a></li>
<li><a href='./jms-messages-in-gigaspaces.html'>JMS Messages in XAP</a></li>
<li><a href='./jms-space-interoperability.html'>JMS-Space Interoperability</a></li>
<li><a href='./jms-with-openspaces-example.html'>Example</a></li>
<li><a href='./jms-with-gigaspaces-jndi.html'>XAP JNDI</a></li>
<li><a href='./jms-with-gsjmsadmin.html'>Working with GSJMSAdmin</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./jms-advanced.html'>Advanced Options</a>
<ul style='display: none'>
<li><a href='./jms-failover.html'>JMS Failover</a></li>
<li><a href='./jms-transactions-in-gigaspaces.html'>Transactions</a></li>
<li><a href='./jms-user-security.html'>Security</a></li>
<li><a href='./jms-queue-browser.html'>Browsing JMS Queues</a></li>
<li><a href='./jms-known-issues-and-considerations.html'>Known Issues and Considerations</a></li>
<li><a href='./jms-without-changing-the-classpath.html'>Using GigaSpaces JMS Without Changing the Classpath</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./space-based-remoting-overview.html'>Space Based Remoting</a>
<ul style='display: none'>
<li><a href='./space-based-remoting.html'>Overview</a></li>
<li><a href='./executor-based-remoting.html'>Executor Based Remoting</a></li>
<li><a href='./event-driven-remoting.html'>Event Driven Remoting</a></li>
<li><a href='./remoting-metadata.html'>Metadata Summary</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./mule-esb.html'>Mule ESB Integration</a>
<ul style='display: none'>
<li><a href='./mule-event-container-transport.html'>Event Container Transport</a></li>
<li><a href='./mule-processing-unit.html'>Processing Unit</a></li>
<li><a href='./mule-queue-provider.html'>Queue Provider</a></li>
<li><a href='./mule-seda-model.html'>SEDA Model</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./big-data.html'>Big Data Integration</a>
<ul style='display: none'>
<li><a href='./archive-container.html'>Archive Container</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./cassandra.html'>Cassandra Integration</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./cassandra-space-persistency.html'>Cassandra Persistency</a>
<ul style='display: none'>
<li><a href='./cassandra-space-data-source.html'>Data Source</a></li>
<li><a href='./cassandra-space-synchronization-endpoint.html'>Synchronization Endpoint</a></li>
<li><a href='./cassandra-hector-client.html'>Hector Client</a></li>
</ul>
</li>
<li><a href='./cassandra-archive-operation-handler.html'>Archive Handler</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./mongodb.html'>MongoDB Integration</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./mongodb-space-persistency.html'>Mongo Persistency</a>
<ul style='display: none'>
<li><a href='./mongodb-space-data-source.html'>Data Source</a></li>
<li><a href='./mongodb-space-synchronization-endpoint.html'>Synchronization Endpoint</a></li>
</ul>
</li>
<li><a href='./mongodb-archive-operation-handler.html'>Archive Handler</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./administration-and-monitoring-overview.html'>Admin API</a>
<ul style='display: none'>
<li><a href='./administration-and-monitoring-api.html'>Overview</a></li>
<li><a href='./dump.html'>Dump</a></li>
<li><a href='./administrative-alerts.html'>Administrative Alerts</a></li>
<li><a href='./snmp-connectivity-via-alert-logging-gateway.html'>SNMP Alerts</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./the-processing-unit-overview.html'>The Processing Unit</a>
<ul style='display: none'>
<li><a href='./the-processing-unit-structure-and-configuration.html'>Directory Structure</a></li>
<li><a href='./configuring-processing-unit-elements.html'>Configuration</a></li>
<li><a href='./obtaining-cluster-information.html'>Cluster Information</a></li>
<li><a href='./reloading-business-logic.html'>Reloading Business Logic</a></li>
<li><a href='./custom-processing-unit-details-and-monitors.html'>Custom Processing Unit</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./deploying-and-running-overview.html'>Deploying and Running</a>
<ul style='display: none'>
<li><a href='./deploying-and-running-the-processing-unit.html'>Overview</a></li>
<li><a href='./running-in-standalone-mode.html'>Standalone Mode</a></li>
<li><a href='./deploying-onto-the-service-grid.html'>Deploying onto the Grid</a></li>
<li><a href='./deployment-properties.html'>Deployment Properties</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./elastic-processing-unit-overview.html'>Elastic Processing Unit</a>
<ul style='display: none'>
<li><a href='./elastic-processing-unit.html'>EPU Overview</a></li>
<li><a href='./elastic-processing-unit-deploy.html'>Deployment</a></li>
<li><a href='./elastic-processing-unit-trigger.html'>Scale Triggers</a></li>
<li><a href='./elastic-processing-unit-provisioning.html'>Machine Provisioning</a></li>
<li><a href='./elastic-processing-unit-properties.html'>Configuration Properties</a></li>
<li><a href='./elastic-processing-unit-example.html'>Example</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./web-application-overview.html'>Web Application Support</a>
<ul style='display: none'>
<li><a href='./web-application-support.html'>Web Application Support - Overview</a></li>
<li><a href='./web-jetty-processing-unit-container.html'>Jetty Processing Unit Container</a></li>
<li><a href='./http-session-management.html'>HTTP Session Management</a></li>
<li><a href='./web-processing-unit-container.html'>Web Processing Unit Container</a></li>
<li><a href='./apache-load-balancer-agent.html'>Apache Load Balancer Agent</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./global-http-session-sharing-overview.html'>Global HTTP Session Sharing</a>
<ul style='display: none'>
<li><a href='./global-http-session-sharing.html'>Overview</a></li>
<li><a href='./global-http-session-sharing-configuration.html'>Configuration & Deployment</a></li>
<li><a href='./global-http-session-sharing-load-balancer.html'>Apache Load-Balancer</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./multi-space-replication-overview.html'>Multi Site LAN Replication</a>
<ul style='display: none'>
<li><a href='./multi-space-replication-over-the-lan-or-vpn.html'>Overview</a></li>
<li><a href='./replication-gateway-lan-bootstrapping-process.html'>Gateway Bootstrapping</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./multi-site-replication-overview.html'>Multi Site WAN Replication</a>
<ul style='display: none'>
<li><a href='./multi-site-replication-over-the-wan.html'>Overview</a></li>
<li><a href='./communication-filter-over-the-wan.html'>Communication Filter</a></li>
<li><a href='./replication-gateway-components.html'>Gateway Components</a></li>
<li><a href='./configuring-space-gateway-targets.html'>Configuring Targets</a></li>
<li><a href='./replication-gateway-bootstrapping-process.html'>Bootstrapping Process</a></li>
<li><a href='./multi-site-conflict-resolution.html'>Conflict Resolution</a></li>
<li><a href='./changing-multi-site-deployment-during-runtime.html'>Changing Deployment during Runtime</a></li>
<li><a href='./replication-gateway-filtering.html'>Filtering  Data</a></li>
<li><a href='./intercepting-replication-events-at-the-gateway.html'>Intercepting Replication Events</a></li>
<li><a href='./multi-site-replication-limitations.html'>Limitations</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./interoperability-overview.html'>Platform Interoperability</a>
<ul style='display: none'>
<li><a href='./interoperability.html'>Overview</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./xap-cpp.html'>CPP</a>
<ul style='display: none'>
<li><a href='./cpp-overview.html'>Overview</a></li>
<li><a href='./cpp-space-interface.html'>The CPP Space Interface</a></li>
<li><a href='./cpp-api-mapping-file.html'>API Mapping File</a></li>
<li><a href='./cpp-type-converter.html'>Type Converter</a></li>
<li><a href='./cpp-processing-unit.html'>Processing Unit</a></li>
<li><a href='./cpp-api-code-generator.html'>API Code Generator</a></li>
<li><a href='./cpp-gsxml-utility.html'>gsxml2cpp Utility</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./cpp-api-examples.html'>CPP Examples</a>
<ul style='display: none'>
<li><a href='./cpp-api-hello-world-example.html'>Hello World</a></li>
<li><a href='./cpp-api-usage-example.html'>CPP API Usage</a></li>
<li><a href='./cpp-processing-unit-example.html'>Processing Unit</a></li>
<li><a href='./cpp-writing-existing-class-to-space.html'>Writing Existing Class to Space</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./rest-service-overview.html'>The REST Service</a>
<ul style='display: none'>
<li><a href='./rest-service.html'>Overview</a></li>
<li><a href='./rest-service-api.html'>REST API</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='./scala.html'>Scala</a>
<ul style='display: none'>
<li><a href='./scala-constructor-based-properties.html'>Constructor Based Properties</a></li>
<li><a href='./scala-enhanced-repl.html'>Enhanced Scala REPL</a></li>
<li><a href='./scala-predicate-based-queries.html'>Predicate Based Queries</a></li>
<li><a href='./scala-scripting-executor.html'>Scripting Executor</a></li>
<li><a href='./scala-task-execution.html'>Scala Task Execution</a></li>
</ul>
</li>
</ul>
</li>

