<li><a href='./index.html'>Release Notes</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href=xap110.html>XAP 11.0</a>
<ul style='display: none'>
<li><a href='./110whats-new.html'>What's New</a></li>
<li><a href='./110new-features.html'>New Features and Improvements</a></li>
<li><a href='./110fixed-issues.html'>Resolved Issues</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href=xap102.html>XAP 10.2</a>
<ul style='display: none'>
<li><a href='./102whats-new.html'>What's New</a></li>
<li><a href='./102new-features.html'>New Features and Improvements</a></li>
<li><a href='./102fixed-issues.html'>Resolved Issues</a></li>
<li><a href='./102known-issues.html'>Known Issues and Limitations</a></li>
<li><a href='./102end-of-life .html'>End of Life</a></li>
<li><a href='./102backward-compatibility.html'>Backward Compatibility</a></li>
<li><a href='./102supported-platforms.html'>Supported Platforms</a></li>
<li><a href='./102upgrading.html'>Upgrading from previous versions</a></li>
<li><a href='./102third-party.html'>3rd-Party License Agreements</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href=xap101.html>XAP 10.1</a>
<ul style='display: none'>
<li><a href='./101whats-new.html'>What's New</a></li>
<li><a href='./101new-features.html'>New Features and Improvements</a></li>
<li><a href='./101fixed-issues.html'>Resolved Issues</a></li>
<li><a href='./101known-issues.html'>Known Issues and Limitations</a></li>
<li><a href='./101end-of-life.html'>End of Life</a></li>
<li><a href='./101backward-compatibility.html'>Backward Compatibility</a></li>
<li><a href='./101supported-platforms.html'>Supported Platforms</a></li>
<li><a href='./101upgrading.html'>Upgrading from previous versions</a></li>
<li><a href='./101third-party.html'>3rd-Party License Agreements</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href=xap100.html>XAP 10.0</a>
<ul style='display: none'>
<li><a href='./100whats-new.html'>What's New</a></li>
<li><a href='./100new-features.html'>New Features and Improvements</a></li>
<li><a href='./100patches.html'>Patches</a></li>
<li><a href='./100known-issues.html'>Known Issues and Limitations</a></li>
<li><a href='./100end-of-life.html'>End of Life</a></li>
<li><a href='./100backward-compatibility.html'>Backward compatibility</a></li>
<li><a href='./100supported-platforms.html'>Supported Platforms</a></li>
<li><a href='./100upgrading.html'>Upgrading from previous versions</a></li>
<li><a href='./100third-party.html'>3rd-Party License Agreements</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href=xap97.html>XAP 9.7</a>
<ul style='display: none'>
<li><a href='./97whats-new.html'>What's New</a></li>
<li><a href='./97new-features.html'>New Features and Improvements</a></li>
<li><a href='./97patches.html'>Patches</a></li>
<li><a href='./97known-issues.html'>Known Issues and Limitations</a></li>
<li><a href='./97deprecation.html'>Deprecated Functionality</a></li>
<li><a href='./97backward-compatibility.html'>Backward compatibility</a></li>
<li><a href='./97supported-platforms.html'>Supported Platforms</a></li>
<li><a href='./97upgrading.html'>Upgrading from previous versions</a></li>
<li><a href='./97third-party.html'>3rd-Party License Agreements</a></li>
</ul>
</li>

