<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href=examples.html>Examples</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href=first-xap-app.html>Your First XAP Application</a>
<ul style='display: none'>
<li><a href='./first-xap-app-step-1.html'>Using Processing Units for Scaling</a></li>
<li><a href='./first-xap-app-step-2.html'>Creating the Hello World Application</a></li>
<li><a href='./first-xap-app-step-3.html'>Deploying onto the Service Grid</a></li>
<li><a href='./first-xap-app-step-4.html'>Scaling the Hello World Application</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href=first-web-app.html>Your First Web Application</a>
<ul style='display: none'>
<li><a href='./first-web-app-step-1.html'>Deploying Your Web Application</a></li>
<li><a href='./first-web-app-step-2.html'>Enabling HTTP Session Failover</a></li>
<li><a href='./first-web-app-step-3.html'>Scaling the Data Access Layer</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href=first-jpa-app.html>Your First JPA Application</a>
<ul style='display: none'>
<li><a href='./first-jpa-app-step-1.html'>Adjusting the JPA Domain Model</a></li>
<li><a href='./first-jpa-app-step-2.html'>Scaling the Data Access Layer</a></li>
<li><a href='./first-jpa-app-step-3.html'>Building and Running the Application</a></li>
</ul>
</li>
<li><a href='./deploying-and-interacting-with-the-space.html'>Deploying and Interacting with the Space</a></li>
<li><a href='./the-openspaces-data-example.html'>Data Example</a></li>
<li><a href='./xap-order-management-tutorial.html'>Order Management Tutorial</a></li>
<li><a href='./a-typical-sba-application.html'>A Typical SBA Application</a></li>
<li><a href='./first-real-time-big-data-analytics-app.html'>Your First Real Time Big Data Analytics Application</a></li>
<li><a href='./dotnet-your-first-xap-application.html'>Your First .NET XAP Application</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href=data-access-patterns.html>Data Access Patterns</a>
<ul style='display: none'>
<li><a href='./aggregators-custom.html'>Custom Aggregators</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href=spring-data.html>XAP Spring Data</a>
<ul style='display: none'>
<li><a href='./spring-data-quick-start.html'>Quick Start</a></li>
<li><a href='./spring-data-overview.html'>XAP Support</a></li>
<li><a href='./spring-data-repository.html'>XAP Repository</a></li>
<li><a href='./spring-data-basic.html'>Basic Usage</a></li>
<li><a href='./spring-data-advanced.html'>Advanced Usage</a></li>
</ul>
</li>
<li><a href='./spark-integration.html'>XAP Integration with Spark</a></li>
<li><a href='./kafka-integration.html'>XAP Integration with Kafka</a></li>
<li><a href='./ibm-websphere-cache.html'>XAP Integration WebSphere Dynamic Cache</a></li>
<li><a href='./custom-matching.html'>Custom Matching</a></li>
<li><a href='./spring-cache.html'>Spring Cache Abstraction with XAP</a></li>
<li><a href='./custom-eviction.html'>Custom Eviction</a></li>
<li><a href='./dynamic-polling-container-templates-using-triggeroperationhandler.html'>Dynamic Polling Container Templates using TriggerOperationHandler</a></li>
<li><a href='./even-data-distribution.html'>Even Data Distribution</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href=excel-that-scales-solution.html>Excel that Scales Solution</a>
<ul style='display: none'>
<li><a href='./calculation-offload---gigaspaces-excel-integration.html'>Calculation Offload - GigaSpaces-Excel Integration</a></li>
<li><a href='./data-offload---gigaspaces-excel-integration.html'>Data Offload - GigaSpaces-Excel Integration</a></li>
<li><a href='./excel-space-viewer.html'>Excel Space Viewer</a></li>
<li><a href='./gigaspaces-excel-integration-faq.html'>GigaSpaces-Excel Integration FAQ</a></li>
<li><a href='./gigaspaces-excel-market-data-example.html'>GigaSpaces-Excel Market-Data Example</a></li>
<li><a href='./gigaspaces-excel-troubleshooting.html'>GigaSpaces-Excel Troubleshooting</a></li>
<li><a href='./rtd-and-udf-examples---gigaspaces-excel-integration.html'>RTD and UDF Examples - GigaSpaces-Excel Integration</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href=writing-your-first-rtd-or-udf-application.html>Writing Your First RTD or UDF Application</a>
<ul style='display: none'>
<li><a href='./prerequisites---gigaspaces-excel-integration.html'>Prerequisites - GigaSpaces-Excel Integration</a></li>
</ul>
</li>
</ul>
</li>
<li><a href='./finding-partition-load.html'>Finding Partition Load</a></li>
<li><a href='./global-id-generator.html'>Global ID Generator</a></li>
<li><a href='./imdg-with-large-backend-database-support.html'>IMDG with Large Backend Database Support</a></li>
<li><a href='./lowering-the-space-object-footprint.html'>Lowering the Space Object Footprint</a></li>
<li><a href='./moving-from-hibernate-to-space.html'>Moving from Hibernate to Space</a></li>
<li><a href='./odbc-driver.html'>ODBC Driver</a></li>
<li><a href='./db2-delta-server.html'>DB2 Delta Server</a></li>
<li><a href='./oracle-delta-server.html'>Oracle Delta Server</a></li>
<li><a href='./sqlserver-datagrid.html'>XAP.NET SQL Server Data Grid</a></li>
<li><a href='./mongodb-datagrid.html'>XAP.NET MongoDB Data Grid</a></li>
<li><a href='./rapid-data-load.html'>Rapid Data Load</a></li>
<li><a href='./schema-evolution.html'>Schema Evolution</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href=modeling-your-data.html>Modeling your data</a>
<ul style='display: none'>
<li><a href='./parent-child-relationship.html'>Parent Child Relationship</a></li>
</ul>
</li>
<li><a href='./space-object-modeling.html'>Space Object Modeling</a></li>
<li><a href='./web-service-pu.html'>Web Service PU</a></li>
<li><a href='./distributed-bitmap.html'>Distributed Bitmap</a></li>
<li><a href='./gigaspaces-for-hibernate-orm-users.html'>XAP as Hibernate Second Level Cache</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href=processing.html>Parallel Processing & Messaging Patterns</a>
<ul style='display: none'>
<li><a href='./xap-drools-integration.html'>Drools Rule Engine Integration</a></li>
<li><a href='./event-driven-remoting-example.html'>Event Driven Remoting Example</a></li>
<li><a href='./jta-xa-example.html'>JTA-XA Example</a></li>
<li><a href='./map-reduce-pattern---executors-example.html'>Map-Reduce Pattern - Executors Example</a></li>
<li><a href='./master-worker-pattern.html'>Master-Worker Pattern</a></li>
<li><a href='./mule-esb-example.html'>Mule ESB Example</a></li>
<li><a href='./parallel-queue-pattern.html'>Parallel Queue Pattern</a></li>
<li><a href='./priority-based-queue.html'>Priority Based Queue</a></li>
<li><a href='./spring-batch-pu.html'>Spring Batch PU</a></li>
<li><a href='./unit-of-work.html'>Unit Of Work</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href=production.html>Setup Production Environment</a>
<ul style='display: none'>
<li><a href='./puppet-xap-module.html'>Puppet XAP Module</a></li>
<li><a href='./data-collocation-deployment-topology.html'>Data-Collocation Deployment Topology</a></li>
<li><a href='./hyperic-integration.html'>Hyperic integration</a></li>
<li><a href='./jmx-space-statistics.html'>JMX Space Statistics</a></li>
<li><a href='./mirror-monitor.html'>Mirror Monitor</a></li>
<li><a href='./moving-into-production-checklist.html'>Moving into Production Checklist</a></li>
<li><a href='./primary-backup-zone-controller.html'>Primary-Backup Zone Controller</a></li>
<li><a href='./safe-grid-shutdown.html'>Safe Grid Shutdown</a></li>
<li><a href='./scaling-agent.html'>Scaling Agent</a></li>
<li><a href='./universal-deployer.html'>Universal Deployer</a></li>
<li><a href='./web-load-balancer-agent-pu.html'>Web Load Balancer Agent PU</a></li>
<li><a href='./automated-xap-deployment-with-cloudify.html'>Automated XAP Deployment with Cloudify</a></li>
<li><a href='./tomcat-pu.html'>Embedding Tomcat as a Web Container</a></li>
<li><a href='./initd.html'>Managing XAP with init.d</a></li>
<li><a href='./cluster-time-sync.html'>Ensuring Accurate Time Across the Cluster</a></li>
<li><a href='./xap-hot-deploy.html'>Hot deploy</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href=wan-based-deployment.html>WAN Based Deployment</a>
<ul style='display: none'>
<li><a href='./wan-replication-gateway.html'>WAN Multi-Master Replication Gateway</a></li>
<li><a href='./wan-gateway-master-slave-replication.html'>WAN Gateway Master Slave Replication</a></li>
<li><a href='./wan-gateway-pass-through-replication.html'>WAN Gateway Pass Through Replication</a></li>
<li><a href='./observable-wan.html'>Observable WAN</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href=solutions.html>Solutions</a>
<ul style='display: none'>
<li><a href='./export-import-tool.html'>Export-Import Tool</a></li>
<li><a href='./elastic-distributed-calculation-engine.html'>Elastic Distributed Calculation Engine</a></li>
<li><a href='./dotnet-session-store.html'>XAP.NET ASP.NET Session State Store</a></li>
<li><a href='./mainframe-integration.html'>Mainframe Integration</a></li>
<li><a href='./trading-settlement.html'>Trading Settlement</a></li>
<li><a href='./time-series.html'>Time Series with Real Time Analytics</a></li>
<li><a href='./i10n-scalatest.html'>Integration testing with scalatest</a></li>
</ul>
</li>

