@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
.title-bar-container {
  height: 90px!important;
}
.main-section .sidenav-layout {
  height: calc(100vh - 90px)!important;
}
MadCap|breadcrumbsProxy {
  border-bottom:none;
  mc-breadcrumbs-divider: '>>';
  mc-breadcrumbs-prefix: '';
  margin: 0px auto;
  max-width: 1400px;
  padding-bottom: 0px;
  padding-left: 25px;
  padding-top: 15px;
}
.breadcrumbs {
  padding-bottom: 20px;
}
.breadcrumbs a[target="_blank"]::after,
.breadcrumbs a[href^="http"]::after {
  content: '';
}
.MCBreadcrumbsLink {
  font-size: .875rem;
}
.MCBreadcrumbsDivider {
  color: #cccccc;
  padding: 0 8px;
}
.MCBreadcrumbsSelf {
  color: #777777;
}
body {
  overflow-y: hidden;
}
.body-container {
  margin-top: 0.5em;
}
h1:first-of-type {
  border-bottom:1px solid #eee;
  margin-top: .67em;
  padding-bottom: 20px;
}
#contentBody .row {
  display: flex;
  flex-direction: row;
}
.bodyContent {
  border-left: solid 1px #eee;
  flex: 1 1;
  margin-bottom: 50px;
  min-height: calc(100vh - 225px);
  overflow: auto;
  padding: 0px 15px;
}
/* Main Navigation Menu */
ul.sidenav li {
  margin-top: 0;
}
.off-canvas-accordion .is-accordion-submenu-parent>a {
  padding-left: 2em;
  padding-right: 0;
}
.off-canvas-accordion a:hover {
  text-decoration: underline;
}
.is-accordion-submenu-parent>a span.submenu-toggle-container {
  left: 0;
  right: initial;
}
/* SideNav */
.sideContent {
  display: block;
  flex: 0 1 auto;
  overflow: auto;
  width: 20%;
}
.sideContent .menu li {
  border-left: solid 2px transparent;
}
.sideContent .menu ul:not(.selected-child-menu) {
  display: none;
}
.sideContent .menu .selected-child,
.sideContent .menu .selected-child-parent {
  border-left-color: #563d7c;
}
.sideContent ul.menu._Skins_HTML5___Side_Menu.mc-component {
  width: auto;
}
ul.sidenav li.is-accordion-submenu-parent:not([aria-expanded])>a span.submenu-toggle,
ul.sidenav li.is-accordion-submenu-parent[aria-expanded="false"]>a span.submenu-toggle {
  border-left-color: #000000;
  border-left-width: 5px;
  border-bottom-width: 5px;
  border-top-color: transparent;
}
ul.sidenav li.is-accordion-submenu-parent[aria-expanded="true"]>a span.submenu-toggle {
  border-top-color: transparent;
  border-bottom-color: #000000;
  border-bottom-width: 5px;
}
/* Search bar */
.search-submit-wrapper {
  border-left: solid 1px #cccccc;
}
.search-bar .search-field {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
/* Scroll to top */
.scrollToTop {
  background: url('/images/up-arrow.jpeg') no-repeat 0px 5px;
  bottom: 50px;
  color: #444;
  display: none;
  font-weight: bold;
  height: 30px;
  padding: 5px;
  position: fixed;
  text-align: center;
  text-decoration: none;
  right: 100px;
  width: 30px;
}
.scrollToTop.show {
  display: block;
}
/* Nav bar menus */
.nav-menu {
  box-sizing: border-box;
  float: left;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.nav-menu:first-of-type {
  margin: 0 0 0 15px;
}
.nav-menu::after,
.nav-menu::before {
  content: " ";
  display: table;
}
.nav-menu>li {
  box-sizing: border-box;
  display: block;
  float: left;
  margin: 0;
  position: relative;
}
.nav-menu>li>a {
  background-color: transparent;
  color: #777777;
  display: block;
  margin: 0px;
  padding: 15px;
  position: relative;
  text-decoration: none;
}
.nav-menu>li.open>a {
  background-color: #e7e7e7;
  color: #555555;
}
.nav-menu>li>a:hover {
  color: #333333;
}
.caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px dashed;
  display: inline-block;
  font-weight: 700;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  width: 0px;
}
.nav-menu>li>ul {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-sizing: border-box;
  display: none;
  float: left;
  font-size: 14px;
  left: 0;
  list-style: none;
  margin: 2px 0 0;
  margin-top: 0;
  min-width: 160px;
  padding: 5px 0;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: 1000;
}
.nav-menu>li.open>ul {
  display: block;
}
.nav-menu>li>ul>li>a {
  background-color: transparent;
  clear: both;
  color: #333;
  display: block;
  font-weight: 400;
  line-height: 1.42857143;
  margin: 0;
  padding: 3px 20px;
  text-decoration: none;
  white-space: nowrap;
}
.nav-menu>li>ul>li>a:hover {
  background-color: #f5f5f5;
  color: #262626;
  text-decoration: none;
}
/* Nav bar buttons */
.navbar-btn {
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  margin-bottom: 0;
  margin-right: 11px;
  padding: 6px 12px;
  text-align: center;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10;
}
.btn-download {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
}
.btn-download:hover {
  background-color: #449d44;
  border-color: #398439;
}
.btn-fork {
  background-color: #337ab7;
  border-color: #2e6da4;
  color: #fff;
  margin-right: 15px;
}
.btn-fork:hover {
  background-color: #286090;
  border-color: #204d74;
}
/* Font Awesome */
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-github:before {
  content: "\f09b";
}
.fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}
.fa-home:before {
  content: "\f015";
}
/* Easy UI Fixes */
.easyui-accordion,
.panel,
.panel-header.accordion-header.accordion-header,
.panel-header.accordion-header.accordion-header-selected,
.panel-body.accordion-body {
  width: 100% !important;
}
.panel-tool a {
  background-color: #e2e2e2;
  border-radius: 3px;
}

/* Footer */
#footer {
  background-color: #f5f5f5;
  height: 60px;
  width: 100%;
  z-index: 300;
}
#footer>.container>p {
  color: #777777;
  margin: 0px;
  padding: 20px 0px;
  text-align: center;
}

/* Topic Banner */
.tc-topic-banner {
  border: solid .5px #00c0f3;
  margin-top: 10px;
  padding: 8px;
}
.tc-topic-banner.preview {
  border-color: #bfd730;
}
.tc-topic-banner p {
  font-style: italic;
  margin: 0px;
  text-align: center;
}