MadCap|breadcrumbsProxy {
  border-bottom:none;
  mc-breadcrumbs-divider: '>>';
  mc-breadcrumbs-prefix: '';
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-top: 15px;
}
h1:first-of-type {
  border-bottom:1px solid #eee;
}
#contentBody .row {
  display: flex;
  flex-direction: row;
}
.bodyContent {
  flex: 1 1;
  overflow: auto;
}
.sideContent {
  display: block;
  flex: 0 1 auto;
  overflow: auto;
  width: 20%;
}
/* SideNav */
.sideContent .menu li {
  border-left: solid 2px transparent;
}
.sideContent .menu .selected-child,
.sideContent .menu .selected-child + ul {
  border-left-color: #563d7c;
}