<div class="navbar navbar-default   navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="gs-navbar-brand" href="https://www.gigaspaces.com" target="_blank">
                    <img src="/images/logo-gigaspaces.png" style="height:40px;" class="pull-left">
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">12.2<b class="caret"></b></a>
						<ul class="dropdown-menu">
					        <!--DO NOT REMOVE - placeholder for automatic next version generation-->
    					    <!--<li><a href="/xap/vNext">vNext</a></li>-->
    					    <li><a href="/16.2.1">16.2.1 Early Access</a></li> 
    					    <li><a href="/16.2">16.2</a></li> 
     					    <li><a href="/16.1">16.1.1</a></li> 
     					    <li><a href="/16.1">16.1</a></li> 
     					    <li><a href="/16.0">16.0</a></li> 
     					    <li><a href="/15.8">15.8</a></li> 
     					    <li><a href="/15.5">15.5</a></li> 
    					    <li><a href="/15.2">15.2</a></li> 
							<li><a href="/15.0">15.0</a></li>   
							<li><a href="/14.5">14.5</a></li>
							<li><a href="/14.2">14.2</a></li>
							<li><a href="/xap/14.0">14.0</a></li>
    					    <li><a href="/xap/12.3">12.3</a></li>
    					    <li><a href="/xap/12.2">12.2</a></li>
                            <li><a href="/xap121.html">12.1</a></li>
							<li><a href="/xap120.html">12.0</a></li>
							<li><a href="/xap110.html">11.0</a></li>
							<li><a href="/xap102.html">10.2</a></li>
							<li><a href="/xap101.html">10.1</a></li>
							<li><a href="/xap100.html">10.0</a></li>
							<li><a href="/xap97.html">9.7</a></li>
							<li><a href="/archive.html">Archive</a></li>
						</ul>
					</li>
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
						<ul class="dropdown-menu">
                            <li><a href="/../early-access.html">Early Access</a></li>
							<li><a href="/api_documentation">API Docs</a></li>
							<li><a href="../videos.html">Videos</a></li>
							<li><a href="/../solution-hub/intro.html">Solution Hub</a></li>
							<li><a href="http://blog.gigaspaces.com" target="_blank">Blog</a></li>
							<li><a href="http://ask.gigaspaces.org" target="_blank">Forum</a></li>
						</ul>
					</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button type="button" onclick="location.href='http://www.gigaspaces.com/xap-download'"
                                class="btn btn-success navbar-btn download-button">Get Latest GA
                        </button>
                        &nbsp;
                        <button type="button" onclick="location.href='https://github.com/xap'"
                                class="btn btn-primary navbar-btn download-button">
                            <i class="fa fa-github" aria-hidden="true"></i>
                            Fork me on Github
                        </button>
                    </li>
                    <form class="navbar-form navbar-left" role="search" action="#" method="get">
                        <div class="form-group">
                            <input id="q" type="text" class="form-control"
                                   style="width:220px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;background-color: white;"
                                   placeholder="Search">
                        </div>
                        <button id="go-search" type="submit" class="btn btn-default search-button"
                                style="margin-left: -7px;border-top-left-radius: 0px;border-bottom-left-radius: 0px;">
                            <i id="search-icon" class="fa fa-search"></i>
                        </button>
                    </form>
                </ul>
            </div>
        </div>
    </div>
</div>

