<li><a href='/release_notes/'>Release Notes</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/release_notes/xap121.html'>XAP 12.1</a>
<ul style='display: none'>
<li><a href='/release_notes/121whats-new.html'>What's New</a></li>
<li><a href='/release_notes/121new-features.html'>New Features</a></li>
<li><a href='/release_notes/121fixed-issues.html'>Resolved Issues</a></li>
<li><a href='/release_notes/121supported-platforms .html'>Supported Platforms</a></li>
<li><a href='/release_notes/121vmware-guidelines.html'>VMWare Guidelines</a></li>
<li><a href='/release_notes/121upgrading.html'>Upgrading from previous versions</a></li>
<li><a href='/release_notes/121third-party.html'>3rd-Party License Agreements</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/release_notes/xap120.html'>XAP 12.0</a>
<ul style='display: none'>
<li><a href='/release_notes/120whats-new.html'>What's New</a></li>
<li><a href='/release_notes/120new-features.html'>New Features and Improvements</a></li>
<li><a href='/release_notes/120fixed-issues.html'>Resolved Issues</a></li>
<li><a href='/release_notes/120supported-platforms.html'>Supported Platforms</a></li>
<li><a href='/release_notes/120vmware-guidelines.html'>VMWare Guidelines</a></li>
<li><a href='/release_notes/120upgrading.html'>Upgrading from previous versions</a></li>
<li><a href='/release_notes/120third-party.html'>3rd-Party License Agreements</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/release_notes/xap110.html'>XAP 11.0</a>
<ul style='display: none'>
<li><a href='/release_notes/110whats-new.html'>What's New</a></li>
<li><a href='/release_notes/110new-features.html'>New Features and Improvements</a></li>
<li><a href='/release_notes/110fixed-issues.html'>Resolved Issues</a></li>
<li><a href='/release_notes/110known-issues.html'>Known Issues and Limitations</a></li>
<li><a href='/release_notes/110end-of-life .html'>End of Life</a></li>
<li><a href='/release_notes/110backward-compatibility.html'>Backward Compatibility</a></li>
<li><a href='/release_notes/110supported-platforms.html'>Supported Platforms</a></li>
<li><a href='/release_notes/110vmware-guidelines.html'>VMWare Guidelines</a></li>
<li><a href='/release_notes/110upgrading.html'>Upgrading from previous versions</a></li>
<li><a href='/release_notes/110third-party.html'>3rd-Party License Agreements</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/release_notes/xap102.html'>XAP 10.2</a>
<ul style='display: none'>
<li><a href='/release_notes/102whats-new.html'>What's New</a></li>
<li><a href='/release_notes/102new-features.html'>New Features and Improvements</a></li>
<li><a href='/release_notes/102fixed-issues.html'>Resolved Issues</a></li>
<li><a href='/release_notes/102known-issues.html'>Known Issues and Limitations</a></li>
<li><a href='/release_notes/102end-of-life .html'>End of Life</a></li>
<li><a href='/release_notes/102backward-compatibility.html'>Backward Compatibility</a></li>
<li><a href='/release_notes/102supported-platforms.html'>Supported Platforms</a></li>
<li><a href='/release_notes/102vmware-guidelines.html'>VMWare Guidelines</a></li>
<li><a href='/release_notes/102upgrading.html'>Upgrading from previous versions</a></li>
<li><a href='/release_notes/102third-party.html'>3rd-Party License Agreements</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/release_notes/xap101.html'>XAP 10.1</a>
<ul style='display: none'>
<li><a href='/release_notes/101whats-new.html'>What's New</a></li>
<li><a href='/release_notes/101new-features.html'>New Features and Improvements</a></li>
<li><a href='/release_notes/101fixed-issues.html'>Resolved Issues</a></li>
<li><a href='/release_notes/101patches.html'>Patches</a></li>
<li><a href='/release_notes/101known-issues.html'>Known Issues and Limitations</a></li>
<li><a href='/release_notes/101end-of-life.html'>End of Life</a></li>
<li><a href='/release_notes/101backward-compatibility.html'>Backward Compatibility</a></li>
<li><a href='/release_notes/101supported-platforms.html'>Supported Platforms</a></li>
<li><a href='/release_notes/101vmware-guidelines.html'>VMWare Guidelines</a></li>
<li><a href='/release_notes/101upgrading.html'>Upgrading from previous versions</a></li>
<li><a href='/release_notes/101third-party.html'>3rd-Party License Agreements</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/release_notes/xap100.html'>XAP 10.0</a>
<ul style='display: none'>
<li><a href='/release_notes/100whats-new.html'>What's New</a></li>
<li><a href='/release_notes/100new-features.html'>New Features and Improvements</a></li>
<li><a href='/release_notes/100fixed-issues.html'>Resolved Issues</a></li>
<li><a href='/release_notes/100patches.html'>Patches</a></li>
<li><a href='/release_notes/100known-issues.html'>Known Issues and Limitations</a></li>
<li><a href='/release_notes/100end-of-life.html'>End of Life</a></li>
<li><a href='/release_notes/100backward-compatibility.html'>Backward compatibility</a></li>
<li><a href='/release_notes/100supported-platforms.html'>Supported Platforms</a></li>
<li><a href='/release_notes/100vmware-guidelines.html'>VMWare Guidelines</a></li>
<li><a href='/release_notes/100upgrading.html'>Upgrading from previous versions</a></li>
<li><a href='/release_notes/100third-party.html'>3rd-Party License Agreements</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/release_notes/xap97.html'>XAP 9.7</a>
<ul style='display: none'>
<li><a href='/release_notes/97whats-new.html'>What's New</a></li>
<li><a href='/release_notes/97new-features.html'>New Features and Improvements</a></li>
<li><a href='/release_notes/97fixed-issues.html'>Resolved Issues</a></li>
<li><a href='/release_notes/97patches.html'>Patches</a></li>
<li><a href='/release_notes/97known-issues.html'>Known Issues and Limitations</a></li>
<li><a href='/release_notes/97deprecation.html'>Deprecated Functionality</a></li>
<li><a href='/release_notes/97backward-compatibility.html'>Backward compatibility</a></li>
<li><a href='/release_notes/97supported-platforms.html'>Supported Platforms</a></li>
<li><a href='/release_notes/97vmware-guidelines.html'>VMWare Guidelines</a></li>
<li><a href='/release_notes/97upgrading.html'>Upgrading from previous versions</a></li>
<li><a href='/release_notes/97third-party.html'>3rd-Party License Agreements</a></li>
</ul>
</li>
<li><a href='/release_notes/lifecycle.html'>Product Life Cycle and End-of-Life Policy</a></li>
