<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/'>Java Developers Guide</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/tut-java/'>Tutorials</a>
<ul style='display: none'>
<li><a href='/xap/10.1/tut-java/installation.html'>Installation</a></li>
<li><a href='/xap/10.1/tut-java/xap-java-in-5-minutes.html'>XAP in 5 Minutes</a></li>
<li><a href='/xap/10.1/tut-java/java-tutorial-part1.html'>Interacting with the Space</a></li>
<li><a href='/xap/10.1/tut-java/java-tutorial-part2.html'>Deploying a Space</a></li>
<li><a href='/xap/10.1/tut-java/java-tutorial-part3.html'>Processing Services</a></li>
<li><a href='/xap/10.1/tut-java/java-tutorial-part4.html'>Events and Messaging</a></li>
<li><a href='/xap/10.1/tut-java/java-tutorial-part5.html'>The Processing Unit</a></li>
<li><a href='/xap/10.1/tut-java/java-tutorial-part6.html'>Space Transactions</a></li>
<li><a href='/xap/10.1/tut-java/java-tutorial-part7.html'>Space Persistence</a></li>
<li><a href='/xap/10.1/tut-java/java-tutorial-part8.html'>Web Deployment</a></li>
<li><a href='/xap/10.1/tut-java/java-tutorial-part9.html'>Big Data</a></li>
<li><a href='/xap/10.1/tut-java/java-tutorial-part10.html'>Security</a></li>
<li><a href='/xap/10.1/tut-java/http-session-sharing.html'>Global HTTP Session Sharing</a></li>
<li><a href='/xap/10.1/tut-java/blobstore.html'>Flash drive IMDG Storage</a></li>
<li><a href='/xap/10.1/tut-java/spring-integration.html'>Spring Integration</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/tut-java/first-xap-app.html'>Your First XAP Application</a>
<ul style='display: none'>
<li><a href='/xap/10.1/tut-java/first-xap-app-step-1.html'>Using Processing Units for Scaling</a></li>
<li><a href='/xap/10.1/tut-java/first-xap-app-step-2.html'>Creating the Hello World Application</a></li>
<li><a href='/xap/10.1/tut-java/first-xap-app-step-3.html'>Deploying onto the Service Grid</a></li>
<li><a href='/xap/10.1/tut-java/first-xap-app-step-4.html'>Scaling the Hello World Application</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/tut-java/first-web-app.html'>Your First Web Application</a>
<ul style='display: none'>
<li><a href='/xap/10.1/tut-java/first-web-app-step-1.html'>Deploying Your Web Application</a></li>
<li><a href='/xap/10.1/tut-java/first-web-app-step-2.html'>Enabling HTTP Session Failover</a></li>
<li><a href='/xap/10.1/tut-java/first-web-app-step-3.html'>Scaling the Data Access Layer</a></li>
</ul>
</li>
<li><a href='/xap/10.1/tut-java/the-openspaces-data-example.html'>Data Example</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/installation.html'>Installation</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/license-key.html'>License Key</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/installation-java.html'>XAP Java Installation</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/common-environment-variables.html'>Environment Variables</a></li>
<li><a href='/xap/10.1/dev-java/setting-classpath.html'>Setting Classpath</a></li>
<li><a href='/xap/10.1/dev-java/setting-jvm-location.html'>Setting JVM Location</a></li>
</ul>
</li>
<li><a href='/xap/10.1/dev-java/installing-cpp-api-package.html'>C++</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/maven-plugin.html'>Maven Plugin</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/maven-plugin-advanced.html'>Advanced Configuration</a></li>
</ul>
</li>
<li><a href='/xap/10.1/dev-java/setting-up-eclipse-to-work-with-xap.html'>Eclipse setup</a></li>
<li><a href='/xap/10.1/dev-java/running-and-debugging-within-your-ide.html'>Running and Debugging Within Your IDE</a></li>
<li><a href='/xap/10.1/dev-java/installation-eclipse-junit.html'>JUnit Testing</a></li>
<li><a href='/xap/10.1/dev-java/running-gigaspaces-as-a-windows-service.html'>XAP as Windows Service</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/pojo-overview.html'>POJO Support</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/pojo-support.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-java/dynamic-properties.html'>Dynamic Properties</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/document-overview.html'>Space Document</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/document-api.html'>Document API</a></li>
<li><a href='/xap/10.1/dev-java/document-extending.html'>Extended Document</a></li>
<li><a href='/xap/10.1/dev-java/document-pojo-interoperability.html'>Interoperability</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/modeling-your-data.html'>Modeling your Data</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/space-object-id-operations.html'>Space Object ID</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/pojo-annotation-overview.html'>Annotation based Metadata</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/pojo-class-annotations.html'>Class Annotations</a></li>
<li><a href='/xap/10.1/dev-java/pojo-attribute-annotations.html'>Property Annotations</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/pojo-xml-metadata-overview.html'>XML based Metadata</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/pojo-xml-metadata-class.html'>Class Metadata</a></li>
<li><a href='/xap/10.1/dev-java/pojo-xml-metadata-attribute.html'>Properties Metadata</a></li>
</ul>
</li>
<li><a href='/xap/10.1/dev-java/pojo-grid-annotations.html'>Grid Metadata</a></li>
<li><a href='/xap/10.1/dev-java/storage-types-controlling-serialization.html'>Storage Types</a></li>
<li><a href='/xap/10.1/dev-java/custom-serialization.html'>Custom Serialization</a></li>
<li><a href='/xap/10.1/dev-java/routing-in-partitioned-spaces.html'>Routing In Partitioned Spaces</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/the-gigaspace-interface-overview.html'>The Space Interface</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/the-gigaspace-interface.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-java/the-space-configuration.html'>Configuration</a></li>
<li><a href='/xap/10.1/dev-java/the-space-operations.html'>Operations</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/change-api-overview.html'>Change API</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/change-api.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-java/change-api-custom-operation.html'>Custom Change</a></li>
<li><a href='/xap/10.1/dev-java/change-api-advanced.html'>Advanced</a></li>
</ul>
</li>
<li><a href='/xap/10.1/dev-java/the-space-counters.html'>Counters</a></li>
<li><a href='/xap/10.1/dev-java/aggregators.html'>Aggregators</a></li>
<li><a href='/xap/10.1/dev-java/the-space-transactions.html'>Transactions</a></li>
<li><a href='/xap/10.1/dev-java/the-space-notifications.html'>Notifications</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/the-space-filters.html'>Space Filters</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/the-space-filters-metadata.html'>Interceptors</a></li>
</ul>
</li>
<li><a href='/xap/10.1/dev-java/space-mode-context-loader.html'>Space Mode Context Loader</a></li>
<li><a href='/xap/10.1/dev-java/leases-automatic-expiration.html'>Lease Time</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/querying-the-space.html'>Querying the Space</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/query-by-id.html'>Id Queries</a></li>
<li><a href='/xap/10.1/dev-java/query-template-matching.html'>Template Matching</a></li>
<li><a href='/xap/10.1/dev-java/query-sql.html'>SQLQuery</a></li>
<li><a href='/xap/10.1/dev-java/query-free-text-search.html'>Free Text Search</a></li>
<li><a href='/xap/10.1/dev-java/query-nested-properties.html'>Nested Properties</a></li>
<li><a href='/xap/10.1/dev-java/query-user-defined-classes.html'>User Defined Classes</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/query-paging-support.html'>Paging Support</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/query-paging-support-old.html'>Paging Support - GSIterator</a></li>
</ul>
</li>
<li><a href='/xap/10.1/dev-java/query-partial-results.html'>Projection</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/indexing-overview.html'>Indexing</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/indexing.html'>Basic Index</a></li>
<li><a href='/xap/10.1/dev-java/indexing-nested-properties.html'>Nested Property Index</a></li>
<li><a href='/xap/10.1/dev-java/indexing-collections.html'>Collection Index</a></li>
<li><a href='/xap/10.1/dev-java/indexing-compound.html'>Compound Index</a></li>
<li><a href='/xap/10.1/dev-java/indexing-unique.html'>Unique Index</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/transaction-overview.html'>Transactions</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/transaction-management.html'>Transaction Management</a></li>
<li><a href='/xap/10.1/dev-java/transaction-locking-and-blocking.html'>Locking and Blocking</a></li>
<li><a href='/xap/10.1/dev-java/transaction-read-modifiers.html'>Read Modifiers</a></li>
<li><a href='/xap/10.1/dev-java/transaction-optimistic-locking.html'>Optimistic Locking</a></li>
<li><a href='/xap/10.1/dev-java/transaction-pessimistic-locking.html'>Pessimistic Locking</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/space-persistency-overview.html'>Space Persistency</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/space-persistency.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-java/direct-persistency.html'>Direct Persistency</a></li>
<li><a href='/xap/10.1/dev-java/hibernate-space-persistency.html'>Hibernate Integration</a></li>
<li><a href='/xap/10.1/dev-java/space-data-source-api.html'>Data Source</a></li>
<li><a href='/xap/10.1/dev-java/space-synchronization-endpoint-api.html'>Synchronization Endpoint</a></li>
<li><a href='/xap/10.1/dev-java/space-persistency-initial-load.html'>Initial Load</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/asynchronous-persistency-with-the-mirror.html'>Asynchronous Persistency - Write Behind</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/async-persistency-mirror-advanced.html'>Advanced Configuration</a></li>
</ul>
</li>
<li><a href='/xap/10.1/dev-java/transient-entries.html'>Transient Entries</a></li>
<li><a href='/xap/10.1/dev-java/space-persistency-advanced-topics.html'>Advanced Topics</a></li>
<li><a href='/xap/10.1/dev-java/persistency-migrating-hibernate.html'>Migrating from Hibernate</a></li>
<li><a href='/xap/10.1/dev-java/migrating-from-external-data-source-api.html'>Migrating From External Data Source API</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/other-data-access-apis.html'>Other Data Access APIs</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/jdbc-driver.html'>JDBC Driver</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/jpa-api-overview.html'>JPA API</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/jpa-api.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-java/jpa-entity-id.html'>JPA Entity Id</a></li>
<li><a href='/xap/10.1/dev-java/jpa-relationships.html'>JPA Relationships</a></li>
<li><a href='/xap/10.1/dev-java/jpa-limitations.html'>Limitations</a></li>
</ul>
</li>
<li><a href='/xap/10.1/dev-java/map-api.html'>Map API</a></li>
<li><a href='/xap/10.1/dev-java/memcached-api.html'>Memcached API</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/client-side-caching.html'>Client Side Caching</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/local-cache.html'>Local Cache</a></li>
<li><a href='/xap/10.1/dev-java/local-view.html'>Local View</a></li>
<li><a href='/xap/10.1/dev-java/client-side-caching-over-the-wan.html'>Caching over the WAN</a></li>
<li><a href='/xap/10.1/dev-java/monitoring-the-client-side-cache.html'>Monitoring Client Side Cache</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/task-execution-overview.html'>Task Execution</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/task-execution-over-the-space.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-java/task-dynamic-language.html'>Dynamic Language Tasks</a></li>
<li><a href='/xap/10.1/dev-java/task-metadata.html'>Metadata</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/event-processing.html'>Event Processing</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/notify-container-overview.html'>Notify Container</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/notify-container.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-java/notify-container-transactions.html'>Transaction Support</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/session-based-messaging-api.html'>Session Based Messaging API</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/durable-notifications.html'>Durable Notifications</a></li>
<li><a href='/xap/10.1/dev-java/custom-data-event-filters.html'>Custom Data Event Filters</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/polling-container-overview.html'>Polling Container</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/polling-container.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-java/polling-container-transactions.html'>Transaction Support</a></li>
<li><a href='/xap/10.1/dev-java/polling-container-scaling.html'>Concurrent Consumers</a></li>
</ul>
</li>
<li><a href='/xap/10.1/dev-java/data-event-listener.html'>Data Event Listener</a></li>
<li><a href='/xap/10.1/dev-java/event-exception-handler.html'>Event Exception Handler</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/fifo-overview.html'>FIFO Ordering</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/fifo-support.html'>FIFO Support</a></li>
<li><a href='/xap/10.1/dev-java/fifo-grouping.html'>FIFO Grouping</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/messaging-support.html'>JMS Messaging Support</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/jms-api-basic-usage.html'>JMS Basics</a></li>
<li><a href='/xap/10.1/dev-java/jms-messages-in-gigaspaces.html'>JMS Messages in XAP</a></li>
<li><a href='/xap/10.1/dev-java/jms-space-interoperability.html'>JMS-Space Interoperability</a></li>
<li><a href='/xap/10.1/dev-java/jms-with-openspaces-example.html'>Example</a></li>
<li><a href='/xap/10.1/dev-java/jms-with-gigaspaces-jndi.html'>XAP JNDI</a></li>
<li><a href='/xap/10.1/dev-java/jms-with-gsjmsadmin.html'>Working with GSJMSAdmin</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/jms-advanced.html'>Advanced Options</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/jms-failover.html'>JMS Failover</a></li>
<li><a href='/xap/10.1/dev-java/jms-transactions-in-gigaspaces.html'>Transactions</a></li>
<li><a href='/xap/10.1/dev-java/jms-user-security.html'>Security</a></li>
<li><a href='/xap/10.1/dev-java/jms-queue-browser.html'>Browsing JMS Queues</a></li>
<li><a href='/xap/10.1/dev-java/jms-known-issues-and-considerations.html'>Known Issues and Considerations</a></li>
<li><a href='/xap/10.1/dev-java/jms-without-changing-the-classpath.html'>Using GigaSpaces JMS Without Changing the Classpath</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/space-based-remoting-overview.html'>Space Based Remoting</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/space-based-remoting.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-java/executor-based-remoting.html'>Executor Based Remoting</a></li>
<li><a href='/xap/10.1/dev-java/event-driven-remoting.html'>Event Driven Remoting</a></li>
<li><a href='/xap/10.1/dev-java/remoting-metadata.html'>Metadata Summary</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/mule-esb.html'>Mule ESB Integration</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/mule-event-container-transport.html'>Event Container Transport</a></li>
<li><a href='/xap/10.1/dev-java/mule-processing-unit.html'>Processing Unit</a></li>
<li><a href='/xap/10.1/dev-java/mule-queue-provider.html'>Queue Provider</a></li>
<li><a href='/xap/10.1/dev-java/mule-seda-model.html'>SEDA Model</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/big-data.html'>Big Data Integration</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/archive-container.html'>Archive Container</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/cassandra.html'>Cassandra Integration</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/cassandra-space-persistency.html'>Cassandra Persistency</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/cassandra-space-data-source.html'>Data Source</a></li>
<li><a href='/xap/10.1/dev-java/cassandra-space-synchronization-endpoint.html'>Synchronization Endpoint</a></li>
<li><a href='/xap/10.1/dev-java/cassandra-hector-client.html'>Hector Client</a></li>
</ul>
</li>
<li><a href='/xap/10.1/dev-java/cassandra-archive-operation-handler.html'>Archive Handler</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/mongodb.html'>MongoDB Integration</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/mongodb-space-persistency.html'>Mongo Persistency</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/mongodb-space-data-source.html'>Data Source</a></li>
<li><a href='/xap/10.1/dev-java/mongodb-space-synchronization-endpoint.html'>Synchronization Endpoint</a></li>
</ul>
</li>
<li><a href='/xap/10.1/dev-java/mongodb-archive-operation-handler.html'>Archive Handler</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/administration-and-monitoring-overview.html'>Admin API</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/administration-and-monitoring-api.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-java/dump.html'>Dump</a></li>
<li><a href='/xap/10.1/dev-java/administrative-alerts.html'>Administrative Alerts</a></li>
<li><a href='/xap/10.1/dev-java/snmp-connectivity-via-alert-logging-gateway.html'>SNMP Alerts</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/the-processing-unit-overview.html'>The Processing Unit</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/the-processing-unit-structure-and-configuration.html'>Directory Structure</a></li>
<li><a href='/xap/10.1/dev-java/configuring-processing-unit-elements.html'>Configuration</a></li>
<li><a href='/xap/10.1/dev-java/obtaining-cluster-information.html'>Cluster Information</a></li>
<li><a href='/xap/10.1/dev-java/reloading-business-logic.html'>Reloading Business Logic</a></li>
<li><a href='/xap/10.1/dev-java/custom-processing-unit-details-and-monitors.html'>Custom Processing Unit</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/deploying-and-running-overview.html'>Deploying and Running</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/deploying-and-running-the-processing-unit.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-java/running-in-standalone-mode.html'>Standalone Mode</a></li>
<li><a href='/xap/10.1/dev-java/deploying-onto-the-service-grid.html'>Deploying onto the Grid</a></li>
<li><a href='/xap/10.1/dev-java/deployment-properties.html'>Deployment Properties</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/elastic-processing-unit-overview.html'>Elastic Processing Unit</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/elastic-processing-unit.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-java/elastic-processing-unit-deploy.html'>Deployment</a></li>
<li><a href='/xap/10.1/dev-java/elastic-processing-unit-trigger.html'>Scale Triggers</a></li>
<li><a href='/xap/10.1/dev-java/elastic-processing-unit-provisioning.html'>Machine Provisioning</a></li>
<li><a href='/xap/10.1/dev-java/elastic-processing-unit-properties.html'>Configuration Properties</a></li>
<li><a href='/xap/10.1/dev-java/elastic-processing-unit-example.html'>Example</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/web-application-overview.html'>Web Application Support</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/web-application-support.html'>Web Application Support - Overview</a></li>
<li><a href='/xap/10.1/dev-java/web-jetty-processing-unit-container.html'>Jetty Processing Unit Container</a></li>
<li><a href='/xap/10.1/dev-java/http-session-management.html'>HTTP Session Management</a></li>
<li><a href='/xap/10.1/dev-java/web-processing-unit-container.html'>Web Processing Unit Container</a></li>
<li><a href='/xap/10.1/dev-java/apache-load-balancer-agent.html'>Apache Load Balancer Agent</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/global-http-session-sharing-overview.html'>Global HTTP Session Sharing</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/global-http-session-sharing.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-java/global-http-session-sharing-configuration.html'>Configuration & Deployment</a></li>
<li><a href='/xap/10.1/dev-java/global-http-session-sharing-load-balancer.html'>Apache Load-Balancer</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/multi-space-replication-overview.html'>Multi Site LAN Replication</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/multi-space-replication-over-the-lan-or-vpn.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-java/replication-gateway-lan-bootstrapping-process.html'>Gateway Bootstrapping</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/multi-site-replication-overview.html'>Multi Site WAN Replication</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/multi-site-replication-over-the-wan.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-java/communication-filter-over-the-wan.html'>Communication Filter</a></li>
<li><a href='/xap/10.1/dev-java/replication-gateway-components.html'>Gateway Components</a></li>
<li><a href='/xap/10.1/dev-java/configuring-space-gateway-targets.html'>Configuring Targets</a></li>
<li><a href='/xap/10.1/dev-java/replication-gateway-bootstrapping-process.html'>Bootstrapping Process</a></li>
<li><a href='/xap/10.1/dev-java/multi-site-conflict-resolution.html'>Conflict Resolution</a></li>
<li><a href='/xap/10.1/dev-java/changing-multi-site-deployment-during-runtime.html'>Changing Deployment during Runtime</a></li>
<li><a href='/xap/10.1/dev-java/replication-gateway-filtering.html'>Filtering  Data</a></li>
<li><a href='/xap/10.1/dev-java/intercepting-replication-events-at-the-gateway.html'>Intercepting Replication Events</a></li>
<li><a href='/xap/10.1/dev-java/multi-site-replication-limitations.html'>Limitations</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/interoperability-overview.html'>Platform Interoperability</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/interoperability.html'>Overview</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/xap-cpp.html'>CPP</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/cpp-overview.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-java/cpp-space-interface.html'>The CPP Space Interface</a></li>
<li><a href='/xap/10.1/dev-java/cpp-api-mapping-file.html'>API Mapping File</a></li>
<li><a href='/xap/10.1/dev-java/cpp-type-converter.html'>Type Converter</a></li>
<li><a href='/xap/10.1/dev-java/cpp-processing-unit.html'>CPP Processing Unit</a></li>
<li><a href='/xap/10.1/dev-java/cpp-api-code-generator.html'>API Code Generator</a></li>
<li><a href='/xap/10.1/dev-java/cpp-gsxml-utility.html'>gsxml2cpp Utility</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/cpp-api-examples.html'>CPP Examples</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/cpp-api-hello-world-example.html'>Hello World</a></li>
<li><a href='/xap/10.1/dev-java/cpp-api-usage-example.html'>CPP API Usage</a></li>
<li><a href='/xap/10.1/dev-java/cpp-processing-unit-example.html'>Processing Unit</a></li>
<li><a href='/xap/10.1/dev-java/cpp-writing-existing-class-to-space.html'>Writing Existing Class to Space</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/rest-service-overview.html'>The REST Service</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/rest-service.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-java/rest-service-api.html'>REST API</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-java/scala.html'>Scala</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-java/scala-constructor-based-properties.html'>Constructor Based Properties</a></li>
<li><a href='/xap/10.1/dev-java/scala-enhanced-repl.html'>Enhanced Scala REPL</a></li>
<li><a href='/xap/10.1/dev-java/scala-predicate-based-queries.html'>Predicate Based Queries</a></li>
<li><a href='/xap/10.1/dev-java/scala-scripting-executor.html'>Scripting Executor</a></li>
<li><a href='/xap/10.1/dev-java/scala-task-execution.html'>Scala Task Execution</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/'>.NET Developers Guide</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/tut-dotnet/'>Tutorials</a>
<ul style='display: none'>
<li><a href='/xap/10.1/tut-dotnet/installation.html'>Installation</a></li>
<li><a href='/xap/10.1/tut-dotnet/dotnet-your-first-data-grid-application.html'>XAP.NET in 5 Minutes</a></li>
<li><a href='/xap/10.1/tut-dotnet/net-tutorial-part1.html'>Interacting with the Space</a></li>
<li><a href='/xap/10.1/tut-dotnet/net-tutorial-part2.html'>Deploying a Space</a></li>
<li><a href='/xap/10.1/tut-dotnet/net-tutorial-part3.html'>Processing Services</a></li>
<li><a href='/xap/10.1/tut-dotnet/net-tutorial-part4.html'>Events and Messaging</a></li>
<li><a href='/xap/10.1/tut-dotnet/net-tutorial-part5.html'>The Processing Unit</a></li>
<li><a href='/xap/10.1/tut-dotnet/net-tutorial-part6.html'>Space Transactions</a></li>
<li><a href='/xap/10.1/tut-dotnet/net-tutorial-part7.html'>Space Persistence</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/installation-overview.html'>Installation</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/installation.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-dotnet/license-key.html'>License Key</a></li>
<li><a href='/xap/10.1/dev-dotnet/product-structure.html'>Product structure</a></li>
<li><a href='/xap/10.1/dev-dotnet/advanced-installation-scenarios.html'>Advanced Scenarios</a></li>
<li><a href='/xap/10.1/dev-dotnet/gigaspaces-services-manager.html'>Services Manager</a></li>
<li><a href='/xap/10.1/dev-dotnet/debugging-a-xapnet-application.html'>Application Debugging</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/poco-overview.html'>PONO Support</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/poco-entries.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-dotnet/poco-dynamic-properties.html'>Dynamic Properties</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/document-overview.html'>Space Document</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/document-api.html'>Document API</a></li>
<li><a href='/xap/10.1/dev-dotnet/document-extending.html'>Extending</a></li>
<li><a href='/xap/10.1/dev-dotnet/document-object-interoperability.html'>Interoperability</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/modeling-your-data.html'>Modeling your Data</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/poco-object-id.html'>Space Object ID</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/pono-annotation-overview.html'>Annotation based Metadata</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/pono-class-annotations.html'>Class Annotations</a></li>
<li><a href='/xap/10.1/dev-dotnet/pono-attribute-annotations.html'>Property Annotations</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/pono-xml-metadata-overview.html'>XML based Metadata</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/pono-xml-metadata-class.html'>Class Metadata</a></li>
<li><a href='/xap/10.1/dev-dotnet/pono-xml-metadata-attribute.html'>Properties Metadata</a></li>
</ul>
</li>
<li><a href='/xap/10.1/dev-dotnet/poco-storage-type.html'>Property Storage Type</a></li>
<li><a href='/xap/10.1/dev-dotnet/poco-type-discovery.html'>Type Discovery</a></li>
<li><a href='/xap/10.1/dev-dotnet/routing-in-partitioned-spaces.html'>Routing In Partitioned Spaces</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/the-gigaspace-interface-overview.html'>The Space Interface</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/the-gigaspace-interface.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-dotnet/the-space-configuration.html'>Configuration</a></li>
<li><a href='/xap/10.1/dev-dotnet/the-space-operations.html'>Operations</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/change-api-overview.html'>Change API</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/change-api.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-dotnet/change-api-advanced.html'>Advanced</a></li>
</ul>
</li>
<li><a href='/xap/10.1/dev-dotnet/the-space-counters.html'>Counters</a></li>
<li><a href='/xap/10.1/dev-dotnet/aggregators.html'>Aggregators</a></li>
<li><a href='/xap/10.1/dev-dotnet/the-space-notifications.html'>Notifications</a></li>
<li><a href='/xap/10.1/dev-dotnet/leases-automatic-expiration.html'>Lease Time</a></li>
<li><a href='/xap/10.1/dev-dotnet/the-space-filters.html'>Filters</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/querying-the-space.html'>Querying the Space</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/query-by-id.html'>ID Queries</a></li>
<li><a href='/xap/10.1/dev-dotnet/query-template-matching.html'>Template Matching</a></li>
<li><a href='/xap/10.1/dev-dotnet/query-prepared-template.html'>Prepared Template</a></li>
<li><a href='/xap/10.1/dev-dotnet/query-nested-properties.html'>Nested Properties</a></li>
<li><a href='/xap/10.1/dev-dotnet/query-sql.html'>SqlQuery</a></li>
<li><a href='/xap/10.1/dev-dotnet/query-free-text-search.html'>Free Text Search</a></li>
<li><a href='/xap/10.1/dev-dotnet/query-paging-support.html'>Paging Support</a></li>
<li><a href='/xap/10.1/dev-dotnet/query-partial-results.html'>Projection</a></li>
<li><a href='/xap/10.1/dev-dotnet/query-linq.html'>LINQ</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/indexing-overview.html'>Indexing</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/indexing.html'>Basic Index</a></li>
<li><a href='/xap/10.1/dev-dotnet/indexing-nested-properties.html'>Nested Property Index</a></li>
<li><a href='/xap/10.1/dev-dotnet/indexing-collections.html'>Collection Index</a></li>
<li><a href='/xap/10.1/dev-dotnet/indexing-compound.html'>Compound Index</a></li>
<li><a href='/xap/10.1/dev-dotnet/indexing-unique.html'>Unique Index</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/transaction-overview.html'>Transactions</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/transaction-management.html'>Transaction Management</a></li>
<li><a href='/xap/10.1/dev-dotnet/transaction-locking-and-blocking.html'>Locking and Blocking</a></li>
<li><a href='/xap/10.1/dev-dotnet/transaction-read-modifiers.html'>Read Modifiers</a></li>
<li><a href='/xap/10.1/dev-dotnet/transaction-optimistic-locking.html'>Optimistic Locking</a></li>
<li><a href='/xap/10.1/dev-dotnet/transaction-pessimistic-locking.html'>Pessimistic Locking</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/space-persistency-overview.html'>Space Persistency</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/space-persistency.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-dotnet/direct-persistency.html'>Direct Persistency</a></li>
<li><a href='/xap/10.1/dev-dotnet/hibernate-space-persistency.html'>NHibernate Integration</a></li>
<li><a href='/xap/10.1/dev-dotnet/space-persistency-initial-load.html'>Initial Load</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/asynchronous-persistency-with-the-mirror.html'>Asynchronous Persistency - Write Behind</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/async-persistency-mirror-advanced.html'>Advanced Configuration</a></li>
</ul>
</li>
<li><a href='/xap/10.1/dev-dotnet/transient-entries.html'>Transient Entries</a></li>
<li><a href='/xap/10.1/dev-dotnet/space-persistency-advanced-topics.html'>Advanced Topics</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/client-side-caching.html'>Client Side Caching</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/local-cache.html'>Local Cache</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/cache-eviction-strategy.html'>Cache Eviction Strategy</a></li>
</ul>
</li>
<li><a href='/xap/10.1/dev-dotnet/local-view.html'>Local View</a></li>
</ul>
</li>
<li><a href='/xap/10.1/dev-dotnet/task-execution-over-the-space.html'>Task Execution</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/event-processing.html'>Event Processing</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/event-listener-container.html'>Event Listener Container</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/notify-container-overview.html'>Notify Container</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/notify-container.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-dotnet/notify-container-transactions.html'>Transaction support</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/polling-container-overview.html'>Polling Container</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/polling-container.html'>Overview</a></li>
<li><a href='/xap/10.1/dev-dotnet/polling-container-scaling.html'>Concurrent Consumers</a></li>
<li><a href='/xap/10.1/dev-dotnet/polling-container-transactions.html'>Transaction support</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/fifo-overview.html'>FIFO Ordering</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/fifo-support.html'>FIFO Support</a></li>
<li><a href='/xap/10.1/dev-dotnet/fifo-grouping.html'>FIFO Grouping</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/space-based-remoting-overview.html'>Space Based Remoting</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/domain-service-host.html'>Domain Service Host</a></li>
<li><a href='/xap/10.1/dev-dotnet/executor-based-remoting.html'>Executor Based Remoting</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/admin-modules.html'>Admin Modules</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/administration-and-monitoring-api.html'>Administration API</a></li>
<li><a href='/xap/10.1/dev-dotnet/scaling-agent-example.html'>Scaling Agent Example</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/the-processing-unit-overview.html'>The Processing Unit</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/pu-config.html'>Configuration</a></li>
<li><a href='/xap/10.1/dev-dotnet/pu-components.html'>Components</a></li>
<li><a href='/xap/10.1/dev-dotnet/obtaining-cluster-information.html'>Cluster Information</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/administrators-guide.html'>Deployment and Administration</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/system-configuration.html'>System Configuration</a></li>
<li><a href='/xap/10.1/dev-dotnet/system-configuration-list.html'>Platform Configuration</a></li>
<li><a href='/xap/10.1/dev-dotnet/jvm-configuration.html'>JVM Configuration</a></li>
<li><a href='/xap/10.1/dev-dotnet/log-configuration.html'>Logging</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/dev-dotnet/interoperability.html'>Platform Interoperability</a>
<ul style='display: none'>
<li><a href='/xap/10.1/dev-dotnet/dotnet-java-interoperability.html'>.NET-Java Interoperability</a></li>
<li><a href='/xap/10.1/dev-dotnet/interoperability-of-user-defined-objects.html'>User-Defined Objects</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/'>Administrators Guide</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/gigaspaces-management-center.html'>Management Center</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/gigaspaces-browser.html'>Main View</a></li>
<li><a href='/xap/10.1/admin/gigaspaces-browser-menus-and-buttons.html'>Menus and Buttons</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/gigaspaces-browser-tree-panel-and-configuration-panel.html'>Grid Tree & Configuration</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/gigaspaces-browser-connection-view.html'>Connections View</a></li>
<li><a href='/xap/10.1/admin/gigaspaces-browser-data-types-view.html'>Data Types View</a></li>
<li><a href='/xap/10.1/admin/gigaspaces-browser-object-inspector.html'>Object Inspector</a></li>
<li><a href='/xap/10.1/admin/gigaspaces-browser-query-view.html'>Query View</a></li>
<li><a href='/xap/10.1/admin/gigaspaces-browser-statistics-view.html'>Statistics View</a></li>
<li><a href='/xap/10.1/admin/gigaspaces-browser-transaction-view.html'>Transactions View</a></li>
</ul>
</li>
<li><a href='/xap/10.1/admin/gigaspaces-browser-managing-space-container.html'>Space Containers</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/working-with-clusters-gigaspaces-browser.html'>Working with Clusters</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/cluster-view-gigaspaces-browser.html'>Cluster View</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/customizing-cluster-view-gigaspaces-browser.html'>Customizing</a></li>
<li><a href='/xap/10.1/admin/viewing-cluster-policy-settings-for-space-gigaspaces-browser.html'>Policy Settings</a></li>
<li><a href='/xap/10.1/admin/viewing-space-interrelations-in-cluster-gigaspaces-browser.html'>Space Inter-relations</a></li>
<li><a href='/xap/10.1/admin/visualizing-cluster-groups-and-members-gigaspaces-browser.html'>Groups and Members</a></li>
</ul>
</li>
<li><a href='/xap/10.1/admin/failover-group-gigaspaces-browser.html'>Failover Group</a></li>
<li><a href='/xap/10.1/admin/load-balancing-group-gigaspaces-browser.html'>Load-Balancing Group</a></li>
<li><a href='/xap/10.1/admin/replication-group-gigaspaces-browser.html'>Replication Group</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/working-with-spaces-gigaspaces-browser.html'>Working with Spaces</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/space-jms-gigaspaces-browser.html'>Space JMS</a></li>
<li><a href='/xap/10.1/admin/space-maintenance-gigaspaces-browser.html'>Maintenance</a></li>
<li><a href='/xap/10.1/admin/space-memory-management-gigaspaces-browser.html'>Memory Management</a></li>
<li><a href='/xap/10.1/admin/space-serialization-and-engine-thread-pool-gigaspaces-browser.html'>Serialization and Thread Pool</a></li>
<li><a href='/xap/10.1/admin/space-timeout,-filters-and-lease-manager-gigaspaces-browser.html'>Timeout, Filters and Lease Manager</a></li>
</ul>
</li>
<li><a href='/xap/10.1/admin/pending-notify-templates-information.html'>Pending Notify Templates</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/web-management-console.html'>Web Management Console</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/web-management-console-console.html'>Overview</a></li>
<li><a href='/xap/10.1/admin/web-management-console-configuration.html'>Configuration</a></li>
<li><a href='/xap/10.1/admin/web-management-console-starting.html'>Starting the Console</a></li>
<li><a href='/xap/10.1/admin/web-management-hosts-view.html'>Hosts</a></li>
<li><a href='/xap/10.1/admin/web-management-common-view.html'>Menu Bar</a></li>
<li><a href='/xap/10.1/admin/web-management-pu.html'>Processing Units</a></li>
<li><a href='/xap/10.1/admin/web-management-data-grid-view.html'>Spaces</a></li>
<li><a href='/xap/10.1/admin/web-management-monitoring.html'>Monitoring</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/data-grid-clustering.html'>Data Grid Clustering</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/data-grid-clustering-overview.html'>Clustering</a></li>
<li><a href='/xap/10.1/admin/clustered-vs-non-clustered-proxies.html'>Clustered vs Non-Clustered Proxies</a></li>
<li><a href='/xap/10.1/admin/consistency-level.html'>Consistency Level</a></li>
<li><a href='/xap/10.1/admin/data-partitioning.html'>Data-Partitioning</a></li>
<li><a href='/xap/10.1/admin/failover.html'>Failover</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/replication.html'>Replication</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/replication-overview.html'>Overview</a></li>
<li><a href='/xap/10.1/admin/replication-topologies.html'>Topologies</a></li>
<li><a href='/xap/10.1/admin/synchronous-replication.html'>Synchronous Replication</a></li>
<li><a href='/xap/10.1/admin/asynchronous-replication.html'>Asynchronous Replication</a></li>
<li><a href='/xap/10.1/admin/space-instance-recovery.html'>Space Instance Recovery</a></li>
<li><a href='/xap/10.1/admin/cluster-replication-filters.html'>Replication Filters</a></li>
<li><a href='/xap/10.1/admin/replication-operations.html'>Replication Operations</a></li>
<li><a href='/xap/10.1/admin/controlling-the-replication-redo-log.html'>Controlling the Replication Redo Log</a></li>
<li><a href='/xap/10.1/admin/replication-parameters.html'>Replication Parameters</a></li>
</ul>
</li>
<li><a href='/xap/10.1/admin/split-brain-and-primary-resolution.html'>Split Brain and Primary Resolution</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/the-sla-overview.html'>Service Level Agreement</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/the-sla.html'>Overview</a></li>
<li><a href='/xap/10.1/admin/the-sla-zones.html'>Hosts, Zones & Machine Utilization</a></li>
<li><a href='/xap/10.1/admin/the-sla-deterministic.html'>Deterministic Deployment</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/memory-management-overview.html'>Memory Management</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/memory-management-facilities.html'>Overview</a></li>
<li><a href='/xap/10.1/admin/all-in-cache-cache-policy.html'>ALL IN CACHE-Cache Policy</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/lru-cache-policy.html'>LRU-Cache Policy</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/custom-eviction-policy.html'>Custom Eviction Policy</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/memoryxtend.html'>MemoryXtend</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/memoryxtend-overview.html'>Overview</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/memoryxtend-ssd.html'>Solid State Drive</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/memoryxtend-ssd-overview.html'>Overview</a></li>
<li><a href='/xap/10.1/admin/memoryxtend-ssd-tuning-guide.html'>Advanced Tuning Guide</a></li>
<li><a href='/xap/10.1/admin/memoryxtend-ssd-trouble-shooting.html'>Troubleshooting</a></li>
</ul>
</li>
<li><a href='/xap/10.1/admin/memoryxtend-ohr.html'>Off Heap RAM</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/logging-overview.html'>Logging</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/logging.html'>Overview</a></li>
<li><a href='/xap/10.1/admin/logging-formatting-messages.html'>Formatting Log Messages</a></li>
<li><a href='/xap/10.1/admin/logging-api.html'>Logging API</a></li>
<li><a href='/xap/10.1/admin/logging-managing-files.html'>Managing Log Files</a></li>
<li><a href='/xap/10.1/admin/logging-backing-custom-policy.html'>Backing-up Files With a Custom Policy</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/administration-tools.html'>Administration Tools</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/scripts.html'>Scripts</a></li>
<li><a href='/xap/10.1/admin/command-line-interface.html'>Command Line Interface</a></li>
<li><a href='/xap/10.1/admin/deploy-command-line-interface.html'>Deploy with Command Line</a></li>
<li><a href='/xap/10.1/admin/elastic-deploy-command-line-interface.html'>Elastic Deployment with Command Line</a></li>
<li><a href='/xap/10.1/admin/rest-deploy-command-line-interface.html'>Deploying REST service with Command Line</a></li>
<li><a href='/xap/10.1/admin/space-gigaspaces-cli.html'>Space Command Line Interface</a></li>
<li><a href='/xap/10.1/admin/quiesce-command-line-interface.html'>Quiesce Command Line</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/runtime-configuration.html'>Runtime Configuration</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/the-runtime-environment.html'>The Runtime Environment</a></li>
<li><a href='/xap/10.1/admin/lus-configuration.html'>Global vs. Local LUS</a></li>
<li><a href='/xap/10.1/admin/gsm-configuration.html'>Global vs. Local GSM</a></li>
<li><a href='/xap/10.1/admin/system-properties.html'>System Properties</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/network.html'>Network Configuration</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/network-unicast-discovery.html'>Unicast Discovery</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/network-multicast.html'>Multicast Configuration</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/network-multicast-is-available.html'>Is Multicast Available</a></li>
</ul>
</li>
<li><a href='/xap/10.1/admin/network-lookup-service-configuration.html'>Lookup Service Configuration</a></li>
<li><a href='/xap/10.1/admin/network-over-nat.html'>XAP Over NAT</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/network-multi-nic.html'>Multiple Network-Cards</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/network-multi-nic-advanced.html'>Advanced Configuration</a></li>
</ul>
</li>
<li><a href='/xap/10.1/admin/network-over-firewall.html'>XAP Over a Firewall</a></li>
<li><a href='/xap/10.1/admin/network-ports.html'>Port usage Control</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/monitoring.html'>Monitoring</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/monitoring-network-activity.html'>Network Monitoring</a></li>
<li><a href='/xap/10.1/admin/space-jmx-management.html'>JMX Management</a></li>
<li><a href='/xap/10.1/admin/suggested-monitoring-tools.html'>Monitoring Tools</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/metrics-overview.html'>Metrics</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/metrics-configuration.html'>Configuration</a></li>
<li><a href='/xap/10.1/admin/metrics-influxdb-reporter.html'>InfluxDB Reporter</a></li>
<li><a href='/xap/10.1/admin/metrics-custom-reporter.html'>Custom Reporter</a></li>
<li><a href='/xap/10.1/admin/metrics-user-defined.html'>User Defined Metrics</a></li>
<li><a href='/xap/10.1/admin/metrics-bundled.html'>Predefined Metrics</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/tuning.html'>Performance Tuning</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/tuning-infrastructure.html'>Infrastructure</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/tuning-gigaspaces-performance-overview.html'>XAP Performance</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/tuning-gigaspaces-performance.html'>Tuning XAP</a></li>
<li><a href='/xap/10.1/admin/slow-consumer.html'>Slow Consumer</a></li>
<li><a href='/xap/10.1/admin/tuning-large-scale-deployment.html'>Large Scale Deployment</a></li>
<li><a href='/xap/10.1/admin/tuning-proxy-connectivity.html'>Proxy Connectivity</a></li>
<li><a href='/xap/10.1/admin/tuning-handling-large-objects.html'>Handling Large Objects</a></li>
<li><a href='/xap/10.1/admin/tuning-communication-protocol.html'>Communication Protocol</a></li>
</ul>
</li>
<li><a href='/xap/10.1/admin/tuning-java-virtual-machines.html'>Java Virtual Machines</a></li>
<li><a href='/xap/10.1/admin/tuning-threads-usage.html'>Threads Usage</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/benchmarking.html'>Benchmarking</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/benchmarking-intro.html'>Overview</a></li>
<li><a href='/xap/10.1/admin/benchmark-utility-cli.html'>Utility</a></li>
<li><a href='/xap/10.1/admin/benchmark-browser.html'>Benchmark View</a></li>
<li><a href='/xap/10.1/admin/benchmark-c++.html'>C++ Benchmark</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/quiescemode.html'>Quiesce Mode</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/quiesce-overview.html'>Overview</a></li>
<li><a href='/xap/10.1/admin/quiesce-pu-api.html'>API and Usage</a></li>
<li><a href='/xap/10.1/admin/quiesce-limitations.html'>Limitations and Considerations</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/admin/troubleshooting.html'>Troubleshooting</a>
<ul style='display: none'>
<li><a href='/xap/10.1/admin/troubleshooting-common-user-issues.html'>Common User Issues</a></li>
<li><a href='/xap/10.1/admin/troubleshooting-protective-modes.html'>Protective Modes</a></li>
<li><a href='/xap/10.1/admin/troubleshooting-testing-system-environment.html'>Testing System Environment</a></li>
<li><a href='/xap/10.1/admin/troubleshooting-viewing-clustered-space-status.html'>Viewing Clustered Space Status</a></li>
<li><a href='/xap/10.1/admin/troubleshooting-failure-detection.html'>Failure Detection</a></li>
<li><a href='/xap/10.1/admin/troubleshooting-tools.html'>Tools</a></li>
</ul>
</li>
<li><a href='/xap/10.1/admin/moving-into-production-checklist.html'>Moving into Production Checklist</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/security/'>Security Guide</a>
<ul style='display: none'>
<li><a href='/xap/10.1/security/security.html'>Overview</a></li>
<li><a href='/xap/10.1/security/security-concepts.html'>Concepts</a></li>
<li><a href='/xap/10.1/security/security-authorities.html'>Authorities</a></li>
<li><a href='/xap/10.1/security/security-configurations.html'>Configuration</a></li>
<li><a href='/xap/10.1/security/programmatically-managing-the-security-directory.html'>Directory Management</a></li>
<li><a href='/xap/10.1/security/default-file-based-security-implementation.html'>Default File-Based Security</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/security/securing-xap-components.html'>Securing Components</a>
<ul style='display: none'>
<li><a href='/xap/10.1/security/securing-your-data.html'>Data</a></li>
<li><a href='/xap/10.1/security/securing-the-grid-services.html'>Grid Services</a></li>
<li><a href='/xap/10.1/security/securing-the-transport-layer-using-ssl.html'>Securing the Transport Layer</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/security/custom-security.html'>Custom Security</a>
<ul style='display: none'>
<li><a href='/xap/10.1/security/custom-authentication.html'>Authentication</a></li>
<li><a href='/xap/10.1/security/custom-user-role-management.html'>User-Role Management</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/security/spring-security-bridge.html'>Spring Security Bridge</a>
<ul style='display: none'>
<li><a href='/xap/10.1/security/introducing-spring-security.html'>Spring Security</a></li>
<li><a href='/xap/10.1/security/gigaspaces-spring-based-security-bridge.html'>Spring-based bridge</a></li>
<li><a href='/xap/10.1/security/authenticating-against-a-database.html'>Database Authentication</a></li>
<li><a href='/xap/10.1/security/authenticating-against-an-ldap-repository.html'>LDAP Authentication</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap/10.1/security/security-administration.html'>Administration</a>
<ul style='display: none'>
<li><a href='/xap/10.1/security/gigaspaces-management-center-ui-security.html'>Management Center</a></li>
<li><a href='/xap/10.1/security/command-line-interface-cli-security.html'>Command Line Interface</a></li>
<li><a href='/xap/10.1/security/administration-and-monitoring-api-security.html'>Security Admin API</a></li>
<li><a href='/xap/10.1/security/auditing.html'>Auditing</a></li>
<li><a href='/xap/10.1/security/java-security-policy-file.html'>Java Security Policy File</a></li>
</ul>
</li>
<li><a href='/xap/10.1/security/securing-the-helloworld-example.html'>HelloWorld example</a></li>
</ul>
</li>
