<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/sbp/examples.html'>Examples</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/sbp/first-jpa-app.html'>Your First JPA Application</a>
<ul style='display: none'>
<li><a href='/sbp/first-jpa-app-step-1.html'>Adjusting the JPA Domain Model</a></li>
<li><a href='/sbp/first-jpa-app-step-2.html'>Scaling the Data Access Layer</a></li>
<li><a href='/sbp/first-jpa-app-step-3.html'>Building and Running the Application</a></li>
</ul>
</li>
<li><a href='/sbp/deploying-and-interacting-with-the-space.html'>Deploying and Interacting with the Space</a></li>
<li><a href='/sbp/xap-order-management-tutorial.html'>Order Management Tutorial</a></li>
<li><a href='/sbp/a-typical-sba-application.html'>A Typical SBA Application</a></li>
<li><a href='/sbp/first-real-time-big-data-analytics-app.html'>Real Time Big Data Analytics</a></li>
<li><a href='/sbp/dotnet-your-first-xap-application.html'>Your First .NET XAP Application</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/sbp/data-access-patterns.html'>Data Access Patterns</a>
<ul style='display: none'>
<li><a href='/sbp/distributed-collections.html'>Distributed Collections</a></li>
<li><a href='/sbp/aggregators-custom.html'>Custom Aggregators</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/sbp/spring-data.html'>XAP Spring Data</a>
<ul style='display: none'>
<li><a href='/sbp/spring-data-quick-start.html'>Quick Start</a></li>
<li><a href='/sbp/spring-data-overview.html'>XAP Support</a></li>
<li><a href='/sbp/spring-data-repository.html'>XAP Repository</a></li>
<li><a href='/sbp/spring-data-basic.html'>Basic Usage</a></li>
<li><a href='/sbp/spring-data-advanced.html'>Advanced Usage</a></li>
<li><a href='/sbp/spring-data-appendix.html'>Appendix</a></li>
</ul>
</li>
<li><a href='/sbp/storm-integration.html'>XAP Integration with Storm</a></li>
<li><a href='/sbp/kafka-integration.html'>XAP Integration with Kafka</a></li>
<li><a href='/sbp/ibm-websphere-cache.html'>XAP Integration WebSphere Dynamic Cache</a></li>
<li><a href='/sbp/cache-interface.html'>Cache Interface</a></li>
<li><a href='/sbp/spring-cache.html'>Spring Cache Abstraction with XAP</a></li>
<li><a href='/sbp/custom-eviction.html'>Custom Eviction</a></li>
<li><a href='/sbp/dynamic-polling-container-templates-using-triggeroperationhandler.html'>Dynamic Polling Container Templates using TriggerOperationHandler</a></li>
<li><a href='/sbp/even-data-distribution.html'>Even Data Distribution</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/sbp/excel-that-scales-solution.html'>Excel that Scales Solution</a>
<ul style='display: none'>
<li><a href='/sbp/calculation-offload-gigaspaces-excel-integration.html'>Calculation Offload - GigaSpaces-Excel Integration</a></li>
<li><a href='/sbp/data-offload-gigaspaces-excel-integration.html'>Data Offload - GigaSpaces-Excel Integration</a></li>
<li><a href='/sbp/excel-space-viewer.html'>Excel Space Viewer</a></li>
<li><a href='/sbp/gigaspaces-excel-integration-faq.html'>GigaSpaces-Excel Integration FAQ</a></li>
<li><a href='/sbp/gigaspaces-excel-market-data-example.html'>GigaSpaces-Excel Market-Data Example</a></li>
<li><a href='/sbp/gigaspaces-excel-troubleshooting.html'>GigaSpaces-Excel Troubleshooting</a></li>
<li><a href='/sbp/rtd-and-udf-examples-gigaspaces-excel-integration.html'>RTD and UDF Examples - GigaSpaces-Excel Integration</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/sbp/writing-your-first-rtd-or-udf-application.html'>Writing Your First RTD or UDF Application</a>
<ul style='display: none'>
<li><a href='/sbp/prerequisites-gigaspaces-excel-integration.html'>Prerequisites - GigaSpaces-Excel Integration</a></li>
</ul>
</li>
</ul>
</li>
<li><a href='/sbp/global-id-generator.html'>Global ID Generator</a></li>
<li><a href='/sbp/imdg-with-large-backend-database-support.html'>IMDG with Large Backend Database Support</a></li>
<li><a href='/sbp/moving-from-hibernate-to-space.html'>Moving from Hibernate to Space</a></li>
<li><a href='/sbp/odbc-driver.html'>ODBC Driver</a></li>
<li><a href='/sbp/db2-delta-server.html'>DB2 Delta Server</a></li>
<li><a href='/sbp/oracle-delta-server.html'>Oracle Delta Server</a></li>
<li><a href='/sbp/sqlserver-delta-server.html'>XAP.NET SQL Server Delta Server</a></li>
<li><a href='/sbp/sqlserver-datagrid.html'>XAP.NET SQL Server Data Grid</a></li>
<li><a href='/sbp/mongodb-datagrid.html'>XAP.NET MongoDB Data Grid</a></li>
<li><a href='/sbp/rapid-data-load.html'>Rapid Data Load</a></li>
<li><a href='/sbp/schema-evolution.html'>Schema Evolution</a></li>
<li><a href='/sbp/scala-integration.html'>Scala Integration</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/sbp/modeling-your-data.html'>Modeling your data</a>
<ul style='display: none'>
<li><a href='/sbp/parent-child-relationship.html'>Parent Child Relationship</a></li>
</ul>
</li>
<li><a href='/sbp/space-object-modeling.html'>Space Object Modeling</a></li>
<li><a href='/sbp/web-service-pu.html'>Web Service PU</a></li>
<li><a href='/sbp/distributed-bitmap.html'>Distributed Bitmap</a></li>
<li><a href='/sbp/gigaspaces-for-hibernate-orm-users.html'>XAP as Hibernate Second Level Cache</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/sbp/processing.html'>Parallel Processing & Messaging Patterns</a>
<ul style='display: none'>
<li><a href='/sbp/xap-drools-integration.html'>Drools Rule Engine Integration</a></li>
<li><a href='/sbp/event-driven-remoting-example.html'>Event Driven Remoting Example</a></li>
<li><a href='/sbp/jta-xa-example.html'>JTA-XA Example</a></li>
<li><a href='/sbp/map-reduce-pattern-executors-example.html'>Map-Reduce Pattern - Executors Example</a></li>
<li><a href='/sbp/aggregators.html'>XAP.NET Custom Aggregators</a></li>
<li><a href='/sbp/master-worker-pattern.html'>Master-Worker Pattern</a></li>
<li><a href='/sbp/mule-esb-example.html'>Mule ESB Example</a></li>
<li><a href='/sbp/parallel-queue-pattern.html'>Parallel Queue Pattern</a></li>
<li><a href='/sbp/priority-based-queue.html'>Priority Based Queue</a></li>
<li><a href='/sbp/spring-batch-pu.html'>Spring Batch PU</a></li>
<li><a href='/sbp/unit-of-work.html'>Unit Of Work</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/sbp/production.html'>Setup Production Environment</a>
<ul style='display: none'>
<li><a href='/sbp/distributed-mirror.html'>Distributed Mirror</a></li>
<li><a href='/sbp/embedding-xap-for-oems.html'>Embedding XAP for OEMs</a></li>
<li><a href='/sbp/capacity-planning.html'>Capacity Planning</a></li>
<li><a href='/sbp/puppet-xap-module.html'>Puppet XAP Module</a></li>
<li><a href='/sbp/data-collocation-deployment-topology.html'>Data-Collocation Deployment Topology</a></li>
<li><a href='/sbp/hyperic-integration.html'>Hyperic integration</a></li>
<li><a href='/sbp/mirror-monitor.html'>Mirror Monitor</a></li>
<li><a href='/sbp/safe-grid-shutdown.html'>Safe Grid Shutdown</a></li>
<li><a href='/sbp/scaling-agent.html'>Scaling Agent</a></li>
<li><a href='/sbp/universal-deployer.html'>Universal Deployer</a></li>
<li><a href='/sbp/web-load-balancer-agent-pu.html'>Web Load Balancer Agent PU</a></li>
<li><a href='/sbp/tomcat-pu.html'>Embedding Tomcat as a Web Container</a></li>
<li><a href='/sbp/initd.html'>Managing XAP with init.d</a></li>
<li><a href='/sbp/cluster-time-sync.html'>Ensuring Accurate Time Across the Cluster</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/sbp/hot-deploy.html'>Refreshable Business Logic</a>
<ul style='display: none'>
<li><a href='/sbp/xap-hot-deploy.html'>Hot Deploy</a></li>
<li><a href='/sbp/xap-dynamic-processing.html'>Dynamic Processing</a></li>
<li><a href='/sbp/refreshable-business-logic-example.html'>Refreshable Business Logic Example</a></li>
</ul>
</li>
<li><a href='/sbp/ssl-self-signed-cert-example.html'>SSL and Self Signed Certificates</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/sbp/wan-based-deployment.html'>WAN Based Deployment</a>
<ul style='display: none'>
<li><a href='/sbp/wan-replication-gateway.html'>WAN Multi-Master Replication Gateway</a></li>
<li><a href='/sbp/wan-gateway-master-slave-replication.html'>WAN Gateway Master Slave Replication</a></li>
<li><a href='/sbp/wan-gateway-pass-through-replication.html'>WAN Gateway Pass Through Replication</a></li>
<li><a href='/sbp/wan-gateway-distributed.html'>Distributed WAN Gateway</a></li>
<li><a href='/sbp/observable-wan.html'>Observable WAN</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/sbp/solutions.html'>Solutions</a>
<ul style='display: none'>
<li><a href='/sbp/export-import-tool.html'>Export/Import Tool</a></li>
<li><a href='/sbp/wan-gateway-command-line-tool.html'>WAN Gateway CLI Tool</a></li>
<li><a href='/sbp/elastic-distributed-calculation-engine.html'>Elastic Distributed Calculation Engine</a></li>
<li><a href='/sbp/dotnet-session-store.html'>XAP.NET ASP.NET Session State Store</a></li>
<li><a href='/sbp/mainframe-integration.html'>Mainframe Integration</a></li>
<li><a href='/sbp/trading-settlement.html'>Trading Settlement</a></li>
<li><a href='/sbp/time-series.html'>Time Series with Real Time Analytics</a></li>
<li><a href='/sbp/i10n-scalatest.html'>Integration testing with scalatest</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/sbp/insightedge.html'>InsightEdge</a>
<ul style='display: none'>
<li><a href='/sbp/data-visualization-grafana.html'>InsightEdge Data Visualization with Grafana</a></li>
<li><a href='/sbp/insightedge-bigdl.html'>Deep Learning</a></li>
</ul>
</li>
