<li><a href='/product_overview/overview.html'>Overview</a></li>
<li><a href='/product_overview/concepts.html'>Concepts</a></li>
<li><a href='/product_overview/terminology.html'>Terminology</a></li>
<li><a href='/product_overview/product-architecture.html'>Product Architecture</a></li>
<li><a href='/product_overview/the-application-layer.html'>Application Layer</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/product_overview/the-runtime-environment.html'>The Service Grid</a>
<ul style='display: none'>
<li><a href='/product_overview/service-grid.html'>Service Grid Components</a></li>
<li><a href='/product_overview/the-lookup-service.html'>The Lookup Service</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/product_overview/the-in-memory-data-grid.html'>The In-Memory Data Grid</a>
<ul style='display: none'>
<li><a href='/product_overview/space-topologies.html'>Topologies</a></li>
<li><a href='/product_overview/caching-scenarios.html'>Caching Scenarios</a></li>
<li><a href='/product_overview/client-side-caching.html'>Client Side Caching</a></li>
<li><a href='/product_overview/database-integration.html'>Database Integration</a></li>
<li><a href='/product_overview/services-on-top-of-the-data-grid.html'>Services on top of the Data Grid</a></li>
</ul>
</li>
<li><a href='/product_overview/space-based-architecture.html'>Space Based Architecture</a></li>
<li><a href='/product_overview/micro-service.html'>Space Based Microservices</a></li>
<li><a href='/product_overview/j2ee-vs-xap.html'>J2EE vs. XAP</a></li>
<li><a href='/product_overview/about-jini.html'>About Jini</a></li>
<li><a href='/product_overview/real-time-analytics.html'>Real Time Big-Data Analytics</a></li>
