/*<meta />*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap");

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

/* 2023 */

html {
  visibility: hidden;
}

html.show {
  visibility: visible;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
}

nav.title-bar.tab-bar.sticky {
  background-size: cover;
  height: 200px;
}

/* New header */

.header-left {
  order: 2;
  padding-left: 5px;
}

.header-right {
  order: 3;
}

.header ul ul {
  display: none;
  position: absolute;
  left: 0;
  padding: 0;
}

.header > ul > li:hover > ul {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 167px;
  padding: 24px 24px;
  border-radius: 18px;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
  margin-top: 0px;
}

.header ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.header {
  z-index: 1001;
}

.header .no-children p::after {
  display: none!important;
}

.header > ul > li {
  margin: 0;
  position: relative;
  list-style: none !important;
}

.header > ul > li > p > a,
.header > ul > li > p {
  color: white !important;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 200;
  text-decoration: none !important;
  cursor: pointer;
}

.header ul ul li {
  padding-bottom: 5px;
}

.header a {
  transition: 0.2s linear;
}

.footer-col a:hover {
  color: #00c0f3;
  text-decoration: none;
  transition: 0.2s linear;
}

.footer-copyright p a:hover {
  transition: 0.2s linear;
  color: white;
  text-decoration: none;
}

ul.menu._Skins_Section_Menu_2023.mc-component ul > li > a:hover {
  transition: 0.2s linear;
}

.nav-menu > li > ul > li > a:hover {
  /* background-color: #f5f5f5; */
  color: #1cb3fc;
  text-decoration: none;
}

.header-left > ul > li > p:after {
  display: inline-block;
  content: " ";
  background-image: url("images/header-arrow.svg");
  background-repeat: no-repeat;
  width: 9px;
  background-size: 9px;
  height: 7px;
  margin-left: 8px;
}

.title-bar-layout .header > ul > li > p {
  margin: 0;
  padding: 9px 12px 8px 12px;
}

.header ul ul li,
.header ul ul li p {
  margin: 0;
}

.header > ul > li > p.contact-us a {
  color: #bed631 !important;
  cursor: pointer;
}

p.free-trial {
  border-radius: 25px;
  background-color: #bed631;
  width: 116px;
  position: relative;
  height: 42px;
  padding: 0 !important;
}

.header > ul > li > p.free-trial a {
  color: #0c0d44 !important;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 25px;
  left: 0;
}

.height-container-sidenav {
  padding-bottom: 0 !important;
}

.landing p {
  font-family: Poppins, Arial, sans-serif;
}

.landing .sidenav-wrapper {
  display: none;
}

.landing-hero {
  background: #f2f2f2;
  padding: 10px 30px;
  position: relative;
}

.landing-hero p {
  margin: 0;
  font-size: 18px;
}

.landing-banner {
  margin: 10px 0;
}

.landing ul {
  list-style: none !important;
}

.landing h2 {
  text-align: center;
}

ul.landing-banner-items {
  display: flex;
  justify-content: flex-start;
  max-width: 90%;
  margin: auto;
  padding: 0;
  flex-wrap: wrap;
}

ul.landing-banner-items li {
  flex-basis: 220px;
  border-radius: 18px;
  position: relative;
  height: 65px;
  margin-right: 22px;
  text-align: center;
  background-color: #1cb3fc24;
}

.landing-banner-items a {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  cursor: pointer;
  padding: 22px;
  height: 100%;
  transition: all 0.25s ease-out;
}

.landing-banner-items a:hover,
.landing-tiles a:hover {
  text-decoration: none;
  transition: all 0.25s ease-out;
}

ul.landing-tiles {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  margin: 30px auto;
  flex-wrap: wrap;
  padding: 0;
}

ul.landing-tiles li {
  flex-basis: 18%;
  margin-bottom: 30px;
  position: relative;
  height: 280px;
}

.landing-tiles a {
  position: absolute;
  top: 0;
  transition: all 0.25s ease-out;
  width: 100%;
  perspective: 1000px;
  background: transparent;
  left: 0;
  height: 100%;
  text-align: center;
}

.card-front img {
  width: 110px;
  height: 110px;
}

.card-front {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
   /* Safari */
  justify-content: center;
  padding: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  display: flex;
  position: absolute;
  width: 100%;
  transform: rotateY(180deg);
  height: 100%;
   /* Safari */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 18px;
  box-shadow: 0px 0px 20px 0px #dbdbdb;
}

.landing-tiles li:hover .card-inner {
  transform: rotateY(180deg);
}

.landing-tiles p
{
  font-size: 22px;
  margin: 0;
}

.landing-banner-items p
{
  font-size: 16px;
  color: #1cb3fc;
}

.nav-search-wrapper
{
  margin-top: 70px;
  position: relative;
}

.nav-search-wrapper:before
{
  display: block;
  content: "Technical Documentation";
  position: absolute;
  top: -50px;
  font-size: 40px;
}

.nav-search-wrapper:before {
  display: block;
  content: "Technical Documentation";
  position: absolute;
  top: -50px;
  font-size: 40px;
}

/* Version menu */

ul#version-menu {
  position: absolute;
  top: 135px;
  right: 30px;
  margin: 0;
  padding: 0 14px;
}

#version-menu li {
  margin: 0;
}

/* New footer */

.content .topic-container {
  padding-bottom: 60px;
}

#footer {
  background-color: #162041;
  height: 60px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

#footer.show {
  visibility: visible;
}

.landing div#mc-main-content {
  padding-bottom: 300px;
}

.landing #footer {
  height: 300px;
}

ul.footer-col {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
}

#footer ul {
  padding: 0;
  width: 340px;
  list-style: none;
}

.footer-col a {
  color: white;
  font-size: 14px;
  font-family: "Rubik";
  font-weight: 300;
  transition: 0.2s linear;
}

.header a:after,
#footer a:after {
  display: none;
}

ul.footer-col > li > p {
  color: #00c0f3;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 6px;
  border-bottom: solid 1px #00c0f3;
  font-size: 14px;
  margin-right: 80px;
  margin-bottom: 14px;
}

#footer p {
  font-family: "Rubik";
}

.footer-copyright p {
  color: white;
  font-size: 13px;
}

.footer-copyright p > a {
  color: #00c0f3;
  transition: 0.2s linear;
}

.footer-social {
  background: #e2e2e2;
  text-align: right;
  height: 35px;
  font-family: "FontAwesome";
  padding-right: 25%;
  font-size: 24px;
}

.footer-top {
  padding: 40px 40px 10px 40px;
  display: none;
}

.landing .footer-top {
  display: block;
}

.landing .footer-copyright {
  padding: 0 40px 10px 40px;
}

.footer-copyright {
  padding: 10px 40px 10px 40px;
}

.footer-social i {
  font-style: normal;
  color: #00c5f5 !important;
  line-height: 35px;
  padding: 0 20px;
}

.footer-social a {
  text-decoration: none !important;
}

.footer-bottom {
  display: none;
}

.landing .footer-bottom {
  display: block;
}

/* New section landing menu */

ul._Skins_Section_Menu_2023 > li > a {
  display: none;
}

ul._Skins_Section_Menu_2023 ul {
  display: flex;
  justify-content: flex-start;
  margin: 0 0px 0 -20px;
}

ul._Skins_Section_Menu_2023 ul > li {
  width: 200px;
  position: relative;
  height: 120px;
  margin: 20px;
  box-shadow: 0px 0px 20px 0px #dbdbdb;
  border-radius: 18px;
}

._Skins_Section_Menu_2023 li:before {
  display: none;
}

ul.menu._Skins_Section_Menu_2023.mc-component ul > li > a {
  transition: 0.2s linear;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  left: 0;
  border-radius: 18px;
  text-align: center;
}

.body-container {
  padding: 0;
}

/* Breadecrumbs */

MadCap|breadcrumbsProxy {
  border-bottom: none;
  mc-breadcrumbs-divider: ">>";
  mc-breadcrumbs-prefix: "";
  margin: 20px;
  max-width: 90%;
  padding-bottom: 20px;
  padding-top: 0px;
}

.breadcrumbs {
  flex-basis: 100%;
}

.topic-content {
  padding-left: 20px;
} 

/* Old */
/* 404 Page */

.landing .page-404 .region-top {
  margin-top: 5rem;
}

.landing .page-404 .region-top p {
  font-size: 1.3rem;
  text-align: center;
}

.landing .page-404 .region-wrapper img {
  max-width: 100%;
}

.content .main-section .sidenav-layout {
  /* height: calc(100vh - 66px - 3rem) !important; */
  position: relative;
  max-width: 95%;
  margin-left: 5%;
  padding: 0;
}

/* .content .breadcrumbs {
  padding-bottom: 20px;
  padding-top: 0px;
} */

.content .breadcrumbs .breadcrumb-home::before {
  content: "";
  background: transparent url(images/icons/Home.png) no-repeat;
  display: inline-block;
  height: 20px;
  width: 23px;
}

.content .breadcrumbs a[target="_blank"]::after,
.content .breadcrumbs a[href^="http"]::after {
  display: none;
}

.content a.MCBreadcrumbsLink:hover {
  color: #00c0f3;
}

.content .MCBreadcrumbsDivider {
  color: #cccccc;
  padding: 0 5px;
}

.content .MCBreadcrumbsSelf {
  color: #777777;
}

.content .sidenav-wrapper {
  border-right: solid 1px #e6e5e5;
  position: relative;
  transition: 0.5s width ease, 0.5s opacity ease 0.25s;
}

.content #sidebar-toggle {
  cursor: pointer;
  height: 20px;
  left: calc(20% - 85px);
  margin: 0;
  position: absolute;
  top: 3px;
  transition: 0.5s left ease;
  width: 20px;
  z-index: 1;
}

.content #sidebar-toggle:before {
  border-top: solid 10px transparent;
  border-left: none;
  border-bottom: solid 10px transparent;
  border-right: solid 10px #e6e5e5;
  content: "";
  position: absolute;
  right: 0px;
  top: 3px;
}

.content .sidenav-layout.closed #sidebar-toggle:before {
  border-top: solid 10px transparent;
  border-left: solid 10px #e6e5e5;
  border-bottom: solid 10px transparent;
  border-right: none;
  content: "";
  position: absolute;
  left: 0px;
  top: 3px;
}

.content .sidenav-layout.closed .sidenav-wrapper {
  border-right: none;
  opacity: 0;
  transition: 0.5s width ease, 0.1s opacity ease;
  width: 0px;
}

.content .sidenav-layout.closed .sidenav-wrapper:before {
  display: none;
}

.content .sidenav-layout.closed .body-container {
  border-left: solid 1px #e6e5e5;
  position: relative;
}

.content .sidenav-layout.closed .sidenav-wrapper #sidebar-toggle {
  right: -20px;
}

.content .sidenav-layout.closed #sidebar-toggle {
  left: 0;
}

.content .topic-container {
  display: flex;
}

.content .topic-container .topic-content {
  flex: 1 1;
  overflow: auto;
  padding: 0 20px;
}
/* In-Page Nav */

.content .topic-container .ipn-content {
  display: block;
  flex: 0 1 auto;
  margin-left: 15px;
  overflow: auto;
  width: 20%;
}

.content .topic-container .ipn-content .is-stuck {
  margin-top: 7.375em !important;
}

.content
  .topic-container
  .ipn-content
  ul.menu._Skins_HTML5___Side_Menu.mc-component {
  width: 100%;
}

.content
  .topic-container
  .ipn-content
  ul.menu._Skins_HTML5___Side_Menu.mc-component
  li
  > a {
  font-weight: 300;
}

.content
  .topic-container
  .ipn-content
  ul.menu._Skins_HTML5___Side_Menu.mc-component
  li
  > a.selected,
.content
  .topic-container
  .ipn-content
  ul.menu._Skins_HTML5___Side_Menu.mc-component
  li
  > a.selected:hover {
  font-weight: normal;
}

.ipn-content {
  border-left: solid 1px #e6e5e5;
  display: block;
  flex: 0 1 auto;
  overflow: auto;
  position: relative;
  transition: 0.5s width ease, 0.5s opacity ease 0.25s;
  width: 20%;
}

.ipn-content .menu li {
  border-left: solid 2px transparent;
}

.ipn-content .menu ul:not(.selected-child-menu) {
  display: none;
}

.ipn-content .menu .selected-child,
.ipn-content .menu .selected-child-parent {
  border-left-color: #949599;
}

.ipn-content ul.menu._Skins_HTML5___Side_Menu.mc-component {
  width: auto;
}

.content #ipn-toggle {
  cursor: pointer;
  height: 20px;
  margin: 0;
  position: absolute;
  /* right: calc(20% - 49px); */
  top: 3px;
  transition: 0.5s right ease;
  width: 20px;
  z-index: 1;
}

.content #ipn-toggle:before {
  border-top: solid 10px transparent;
  border-left: solid 10px #e6e5e5;
  border-bottom: solid 10px transparent;
  border-right: none;
  content: "";
  position: absolute;
  top: 3px;
}

.content .ipn-content.closed + #ipn-toggle {
  right: 1px !important;
}

.content .ipn-content.closed + #ipn-toggle:before {
  border-top: solid 10px transparent;
  border-left: none;
  border-bottom: solid 10px transparent;
  border-right: solid 10px #e6e5e5;
  content: "";
  position: absolute;
  right: 0px;
  top: 3px;
}

.content .ipn-content.closed {
  border-right: none;
  transition: 0.5s width ease;
  width: 0px;
}

.content .ipn-content.closed .sticky-container {
  opacity: 0;
  transition: 0.1s opacity ease;
}

.content .ipn-content.closed .sticky-container:before {
  display: none;
}

.content .ipn-content.closed .body-container {
  border-left: solid 1px #e6e5e5;
  position: relative;
}

/* .content .ipn-content.closed .sidenav-wrapper #ipn-toggle {
  right: -20px;
}
.content .ipn-content.closed #ipn-toggle {
  left: 0;
} */

/* Scroll to top */

.scrollToTop {
  background: url("/images/up-arrow.jpeg") no-repeat 0px 5px;
  bottom: 50px;
  color: #444;
  display: none;
  font-weight: bold;
  height: 30px;
  padding: 5px;
  position: fixed;
  text-align: center;
  text-decoration: none;
  right: 100px;
  width: 30px;
}

.scrollToTop.show {
  display: block;
}

/* Nav bar menus */

.nav-extn-wrapper {
  flex: 1 1 auto;
  display: flex;
  order: 4;
  justify-content: flex-end;
  flex-basis: auto;
}

.nav-menu {
  box-sizing: border-box;
  float: left;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.nav-menu:first-of-type {
  margin: 0 0 0 15px;
}

.nav-menu:last-of-type {
  margin: 0 6rem 0 0;
}

.nav-menu::after,
.nav-menu::before {
  content: " ";
  display: table;
}

.nav-menu > li {
  box-sizing: border-box;
  display: block;
  float: left;
  margin: 0;
  position: relative;
}

.nav-menu > li > a {
  background-color: transparent;
  color: white;
  display: block;
  margin: 0px 5px;
  padding: 15px 20px 15px 13px;
  line-height: 18px;
  position: relative;
  text-decoration: none;
}

/* .nav-menu>li.open>a {
  color: #006DB8;
}
.nav-menu>li>a:hover {
  color: #006DB8
} */

.caret {
  padding-right: 28px;
  position: relative;
}

.caret:after {
  border-color: white transparent transparent transparent;
  border-style: solid;
  border-width: 7px;
  bottom: 13px;
  content: "";
  height: 0;
  right: 0;
  position: absolute;
  width: 0;
}

.caret:before {
  border-color: darkblue transparent transparent transparent;
  border-style: solid;
  border-width: 7px;
  bottom: 15px;
  content: "";
  height: 0;
  right: 0px;
  position: absolute;
  width: 0;
  z-index: 1;
}

.nav-menu > li > ul {
  background-color: #ffffff;
  border-radius: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  display: none;
  font-size: 14px;
  right: 0;
  list-style: none;
  margin: 0 !important;
  margin-top: 0;
  padding: 30px;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: 1000;
  flex-wrap: wrap;
  flex-direction: column;
  height: 230px;
  width: 440px;
  align-content: space-between;
}

.nav-menu > li > ul:hover {
  display: flex;
}

.nav-menu > li.open > ul {
  display: flex;
}

.nav-menu > li > ul > li > a {
  background-color: transparent;
  clear: both;
  color: #333;
  display: block;
  font-weight: 400;
  line-height: 2;
  margin: 0;
  padding: 0;
  text-decoration: none;
  white-space: nowrap;
}

.nav-menu > li > ul > li > a.selected {
  color: #006db8;
  font-weight: bold;
}

.nav-menu > li > ul > li > a.selected:hover {
  color: #006db8;
  font-weight: bold;
}

/* Nav bar buttons */

.navbar-btn {
  background-image: none;
  border: 1px solid transparent;
  border-radius: 25px;
  cursor: pointer;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  line-height: 1.42857143;
  margin-bottom: 0;
  margin-right: 11px;
  margin-top: 7px;
  padding: 6px 40px;
  text-align: center;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  transition: all 0.2s ease-in-out;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10;
}

.btn-download {
  background-color: #00c0f3;
  border-color: #00c0f3;
  color: #ffffff;
}

.btn-download:hover {
  background-color: transparent;
  color: #006db8;
}

/* Code Clipboard Copy Buttons */

pre {
  padding-top: 50px;
  position: relative;
}

div.clipboard {
  /* background-color: #006db8; */
  border: 1px solid transparent;
  border-radius: 12px;
  position: absolute;
  top: 6px;
  right: 0px;
  width: 40px;
  height: 30px;
}

.clipboard button {
  color: #006db8;
  cursor: pointer;
  text-align: right;
  opacity: 100%;
  background: url("images/icons/copy-paste-blue.svg") no-repeat center center;
  background-size: 24px 24px;
  border: none;
  font-family: Rubik, sans-serif;
  width: 100%;
  height: 100%;
}

.clipboard button.success {
  background: url("images/icons/copy-paste-success.svg") no-repeat center center;
  background-size: 16px 16px;
}

.clipboard button.success:hover {
  background: url("images/icons/copy-paste-success.svg") no-repeat center center;
  background-size: 16px 16px;
}

.clipboard button:hover {
  background: url("images/icons/copy-paste-hover.svg") no-repeat center center;
  background-size: 24px 24px;
}

/* Font Awesome */

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-github:before {
  content: "\f09b";
}

.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-home:before {
  content: "\f015";
}

/* Easy UI Fixes */

.easyui-accordion,
.panel,
.panel-header.accordion-header.accordion-header,
.panel-header.accordion-header.accordion-header-selected,
.panel-body.accordion-body {
  width: 100% !important;
}

.tabs-header,
.tabs-wrap {
  width: 100% !important;
}

.easyui-accordion {
  margin-left: 0px;
}

.panel-body {
  padding: 10px;
}

.panel-tool a {
  background-color: #e2e2e2;
  border-radius: 3px;
}

/* Topic Banner */

.tc-topic-banner {
  border: solid 1px #000000;
  margin-top: 10px;
  padding: 8px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.tc-topic-banner.old {
  border-color: #f7941e;
  border-width: 1.5px;
}

.tc-topic-banner.preview {
  border-color: #bfd730;
  border-width: 0.5px;
}

.tc-topic-banner p {
  font-style: italic;
  margin: 0px;
  text-align: center;
}

.tc-topic-banner.old p {
  font-size: 1rem;
}

.tc-topic-banner.preview p {
  /* placeholder */
}

h2 {
  page-break-after: avoid;
  page-break-before: avoid;
}

h1 {
  page-break-after: avoid;
  page-break-before: avoid;
}

#search-icon {
  display: none;
}

.search-bar .search-field {
  padding-right: 30px;
}

@media tablet {
  .off-canvas-wrapper-inner {
    overflow: hidden;
  }

  ul.landing-banner-items li {
    margin-left: 22px;
  }

  .off-canvas-wrapper-inner .main-section {
    overflow: hidden;
  }

  ul#version-menu {
    top: 66px;
    right: 0px;
  }

  .landing .off-canvas-wrapper-inner .outer-row {
    padding: 0;
  }

  ul.landing-tiles {
    justify-content: space-evenly;
  }

  ul.landing-tiles li {
    flex-basis: 40%;
  }

  .foundation-wrap,
  .off-canvas-wrapper {
    overflow-y: hidden;
    overflow: auto;
  }

  .landing .region-top {
    margin-top: 180px;
  }

  .landing .region-hero {
    background-repeat: no-repeat;
    background-position-y: -120px;
    background-size: cover;
  }

  .landing .region-bottom {
    margin: 0;
  }

  .content .sidenav-layout.closed .body-container {
    border-left: none;
  }

  button.navbar-btn.btn-download {
    display: none;
  }

  .nav-menu:first-of-type {
    margin: 0;
  }

  .nav-menu:last-of-type {
    margin: 0 2.5rem 0 0;
  }

  nav.title-bar /* temp*/ {
    padding-bottom: 0;
    padding-top: 0;
  }

  .header-right {
    display: none;
  }

  .off-canvas-wrapper-inner nav.title-bar .outer-row {
    padding-top: 10px;
    justify-content: flex-start;
  }

  ul.landing-banner-items {
    justify-content: center;
  }

  .header > ul > li:hover > ul {
    width: 500px;
  }

  .header > ul > li > p > a, .header > ul > li > p {
    font-size: 16px;
  }

  .off-canvas-wrapper-inner .title-bar-container {
    min-height: 250px;
  }

  span.web-size-only {
    display: none;
  }

  .search-bar input::placeholder {
    max-width: 100px;
    color: white;
  }

  .content .topic-container .ipn-content {
    max-width: 0;
    opacity: 0;
    visibility: hidden;
  }

  #ipn-toggle,
  #sidebar-toggle {
    display: none;
  }

  .content .main-section .sidenav-layout {
    max-width: 100%;
    margin-left: 0;
    height: auto !important;
  }

  .body-container {
    /* min-height: calc(100vh - 86px - 3rem); */
  }

  .landing div#mc-main-content {
    padding-bottom: 70px;
}

  .landing #footer {
    height: 70px;
  }

  .landing .footer-top,
  .landing .footer-bottom {
    display: none;
  }
}

@media screen and (max-width:950px) {
  
  .header-left {
    display: none;
  }
}

@media mobile {
  .nav-menu > li > a {
    font-size: 14px;
    padding: 15px 20px 15px 0;
  }

  .breadcrumbs {
    font-size: 14px;
  }

  ul#version-menu {
    top: 0;
    right: 30px;
  }

  ul.landing-tiles li {
    flex-basis: 60%;
  }

  .tc-topic-banner p {
    font-size: 14px;
  }

  #search-icon {
    width: 40px;
    height: 40px;
    margin-top: 6px;
    background: url("../../Skins/Fluid/Stylesheets/Images/search-icon-dark.png")
      no-repeat center center;
    display: block;
    cursor: pointer;
    z-index: 3;
  }

  .off-canvas-wrapper-inner nav.title-bar .outer-row {
    padding: 0;
  }

  .title-bar-layout .logo-wrapper {
    padding-left: 1em;
  }

  .title-bar .menu-icon span {
    margin-right: 1em;
  }

  .nav-extn-wrapper {
    padding-right: 0;
  }

  .nav-search-wrapper:before {
    text-align: center;
    line-height: normal;
    top: -60px;
    font-size: 28px;
  }

  .nav-search-wrapper {
    margin-top: 90px;
  }

  .nav-search {
    margin: 0 20% 0 20%;
    width: 70%;
  }

  span#search-close {
    top: 7px;
    width: 18px;
    height: 18px;
    right: -36px;
    z-index: 3;
    position: absolute;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
  }

  span#search-close:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #4a4a4a;
    top: 8px;
    transform: rotate(45deg);
    right: 0;
  }

  span#search-close:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #4a4a4a;
    top: 8px;
    right: 0;
    transform: rotate(-45deg);
  }

  .off-canvas-wrapper-inner .main-section > .outer-row {
    padding: 0;
    margin: auto;
  }

  .landing .region-top .region-wrapper {
    width: 100%;
  }

  .content .topic-container .topic-content {
    padding: 0 10px;
  }
}
