{{ partial "header.html" . }}
<div id="wrap">
    {{ partial "navbar101.html" . }}


    <div class="container">
        <div id="breadcrumbs" class="row">
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-home fa-lg"></i></a></li>
                <li><a href="/xap101.html">10.1</a></li>
                {{ if in .Permalink "/dev-java/"}}<li><a href="/xap/10.1/dev-java/">Java Developer Guide</a></li>
                {{ else if in .Permalink "/tut-java/"}}<li><a href="/xap/10.1/tut-java/">Java Tutorial</a></li>
                {{ else if in .Permalink "/dev-dotnet/"}}<li><a href="/xap/10.1/dev-dotnet/">.NET Developers Guide</a></li>
                {{ else if in .Permalink "/tut-dotnet/"}}<li><a href="/xap/10.1/tut-dotnet/">.NET Tutorial</a></li>
                {{ else if in .Permalink "/admin/"}}<li><a href="/xap/10.1/admin/">Administration Guide</a></li>
                {{ else if in .Permalink "/security/"}}<li><a href="/xap/10.1/security/">Security Guide</a></li>
                {{end}}
                <li class="active">{{.Title}}</li>
            </ol>
        </div>
        <div class="container-fluid">
            <div id="leftbar-div" class="col-md-2 hidden-xs">
                <div class="leftbar">
                    <ul class="treeview" id="tree">
                        {{ partial "sidenav-xap101.html" .}}
                    </ul>
                </div>
            </div>
            <div id="content" class="col-md-8">
                <div id="page-content" class="page-content">
                    {{ partial "disclaimer-old.html"}}
                    <h1 style="padding-top:135px;">{{ .Title }}</h1>
                    <hr>
                    {{ .Content }}
                </div>
            </div>
            {{ partial "toc.html" .}}
        </div>
    </div>
    <div class="push"></div>
</div>

{{ partial "footer.html" . }}

 