@import "tc-styles.css";

div.product-bar {
    margin: 10px 0;
}
p.product-button
{
	border-radius: 25px;
	background-color: #bed631;
    line-height: 42px;
	height: 42px;
    text-align: center;
    width: 180px;
    margin-right: 10px;
}

h2.suggested-reading {
    mc-heading-level: 0;
}