{{ if in .Page.Permalink "xap97"}}{{"http://docs.gigaspaces.com/api/dotnetdocs9.7/html"}}
{{ else if in .Page.Permalink "10.0"}}{{"http://docs.gigaspaces.com/api/dotnetdocs10.0/html"}}
{{ else if in .Page.Permalink "10.1"}}{{"http://docs.gigaspaces.com/api/dotnetdocs10.1/html"}}
{{ else if in .Page.Permalink "10.2"}}{{"http://docs.gigaspaces.com/api/dotnetdocs10.2/html"}}
{{ else if in .Page.Permalink "11.0"}}{{"http://docs.gigaspaces.com/api/dotnetdocs11.0/html"}}
{{ else if in .Page.Permalink "12.0"}}{{"http://docs.gigaspaces.com/api/dotnetdocs12.0/html"}}
{{ else if in .Page.Permalink "12.1"}}{{"http://docs.gigaspaces.com/api/xap/12.1.0/dotnet/html"}}
{{else}}{{"http://docs.gigaspaces.com/api/xap/12.2.0/dotnet/html"}}
{{end}}