{{ if in .Page.Permalink "xap97"}}{{"http://docs.gigaspaces.com/api/dotnetdocs9.7"}}
{{ else if in .Page.Permalink "xap100"}}{{"http://docs.gigaspaces.com/api/dotnetdocs10.0"}}
{{ else if in .Page.Permalink "xap101"}}{{"http://docs.gigaspaces.com/api/dotnetdocs10.1"}}
{{ else if in .Page.Permalink "xap102"}}{{"http://docs.gigaspaces.com/api/dotnetdocs10.2"}}
{{ else if in .Page.Permalink "xap110"}}{{"http://docs.gigaspaces.com/api/dotnetdocs11.0"}}
{{ else if in .Page.Permalink "xap120"}}{{"http://docs.gigaspaces.com/api/dotnetdocs12.0"}}
{{else}}{{"http://docs.gigaspaces.com/api/dotnetdocs12.1"}}
{{end}}