{{ if in .Page.Permalink "xap97"}}{{"http://docs.gigaspaces.com/api/dotnetdocs9.7/html"}}
{{ else if in .Page.Permalink "xap100"}}{{"http://docs.gigaspaces.com/api/dotnetdocs10.0/html"}}
{{ else if in .Page.Permalink "xap101"}}{{"http://docs.gigaspaces.com/api/dotnetdocs10.1/html"}}
{{ else if in .Page.Permalink "xap102"}}{{"http://docs.gigaspaces.com/api/dotnetdocs10.2/html"}}
{{ else if in .Page.Permalink "xap110"}}{{"http://docs.gigaspaces.com/api/dotnetdocs11.0/html"}}
{{ else if in .Page.Permalink "xap120"}}{{"http://docs.gigaspaces.com/api/dotnetdocs12.0/html"}}
{{else}}{{"http://docs.gigaspaces.com/api/xap/12.1.0/dotnet/html"}}
{{end}}