{{ if in .Page.Permalink "xap97" }}
<a href='/xap97/{{.Get 0}}'>Java version | </a> <a href='/xap97net/{{.Get 0}}'>.Net version</a>
{{else if in .Page.Permalink "xap100"}}
<a href='/xap100/{{.Get 0}}'>Java version | </a> <a href='/xap100net/{{.Get 0}}'>.Net version</a>
{{else if in .Page.Permalink "xap101"}}
<a href='/xap101/{{.Get 0}}'>Java version | </a> <a href='/xap101net/{{.Get 0}}'>.Net version</a>
{{else if in .Page.Permalink "xap102"}}
<a href='/xap102/{{.Get 0}}'>Java version | </a> <a href='/xap102net/{{.Get 0}}'>.Net version</a>
{{else if in .Page.Permalink "xap110"}}
<a href='/xap110/{{.Get 0}}'>Java version | </a> <a href='/xap110net/{{.Get 0}}'>.Net version</a>
{{else if in .Page.Permalink "xap120"}}
<a href='/xap120/{{.Get 0}}'>Java version | </a> <a href='/xap120net/{{.Get 0}}'>.Net version</a>
{{else if in .Page.Permalink "xap121"}}
<a href='/xap121/{{.Get 0}}'>Java version | </a> <a href='/xap121net/{{.Get 0}}'>.Net version</a>
{{else if in .Page.Permalink "12.2"}}
<a href='/xap/12.2/xap/dev-java/{{.Get 0}}'>Java version | </a> <a href='/xap/12.2/dev-dotnet/{{.Get 0}}'>.Net version</a>
{{else}}
<a href="{{index .Page.Site.Params "latest_java_url"}}/{{.Get 0}}">Java version | </a>
<a href="{{index .Page.Site.Params "latest_net_url"}}/{{.Get 0}}">.Net version</a>
{{end}}


