{{ if in .Page.Permalink "xap97" }}
<a href='/xap97/{{.Get 0}}'>Java version | </a> <a href='/xap97net/{{.Get 0}}'>.Net version</a>
{{else if in .Page.Permalink "10.0"}}
<a href='/xap/10.0/dev-java/{{.Get 0}}'>Java version | </a> <a href='/xap/10.0/dev-dotnet/{{.Get 0}}'>.Net version</a>
{{else if in .Page.Permalink "10.1"}}
<a href='/xap/10.1/dev-java/{{.Get 0}}'>Java version | </a> <a href='/xap/10.1/dev-dotnet/{{.Get 0}}'>.Net version</a>
{{else if in .Page.Permalink "10.2"}}
<a href='/xap/10.2/dev-java/{{.Get 0}}'>Java version | </a> <a href='/xap/10.2/dev-dotnet/{{.Get 0}}'>.Net version</a>
{{else if in .Page.Permalink "11.0"}}
<a href='/xap/11.0/dev-java/{{.Get 0}}'>Java version | </a> <a href='/xap/11.0/dev-dotnet/{{.Get 0}}'>.Net version</a>
{{else if in .Page.Permalink "12.0"}}
<a href='/xap/12.0/dev-java/{{.Get 0}}'>Java version | </a> <a href='/xap/12.0/dev-dotnet/{{.Get 0}}'>.Net version</a>
{{else if in .Page.Permalink "12.1"}}
<a href='/xap/12.1/dev-java/{{.Get 0}}'>Java version | </a> <a href='/xap/12.1/dev-dotnet/{{.Get 0}}'>.Net version</a>
{{else if in .Page.Permalink "12.2"}}
<a href='/xap/12.2/dev-java/{{.Get 0}}'>Java version | </a> <a href='/xap/12.2/dev-dotnet/{{.Get 0}}'>.Net version</a>
{{else}}
<a href="{{index .Page.Site.Params "latest_java_url"}}/{{.Get 0}}">Java version | </a>
<a href="{{index .Page.Site.Params "latest_net_url"}}/{{.Get 0}}">.Net version</a>
{{end}}


