{{ partial "header.html" . }}
<div id="wrap">
    {{ partial "navbar.html" . }}



    <div class="container">
        <div id="breadcrumbs" class="row">
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-home fa-lg"></i></a></li>
                {{   if in .Permalink "videos"}}<li><a href="/videos">Videos</a></li>
                {{ else if in .Permalink "product_overview"}}<li><a href="/product_overview">Product Overview</a></li>
                {{ else if in .Permalink "release_notes"}}<li><a href="/release_notes">Release Notes</a></li>
                {{ else if in .Permalink "api_documentation"}}<li><a href="/api_documentation">API Documentation</a></li>
                {{ else if in .Permalink "early_access"}}<li><a href="/early_access">Early Access</a></li>
                {{ else if in .Permalink "howto"}}<li><a href="/howto">Howto</a></li>
                {{ else if in .Permalink "sbp"}}<li><a href="/sbp">Services & Best Practices</a></li>
                {{ else if in .Permalink "faq"}}<li><a href="/faq">FAQ</a></li>
                {{end}}
                <li class="active">{{.Title}}</li>
            </ol>
        </div>
        <div class="container-fluid">

            <div id="leftbar-div" class="col-md-2 hidden-xs">
                <div class="leftbar">
                    <ul class="treeview" id="tree">
                        {{   if in .Permalink "videos"}}{{ partial "sidenav-videos.html" .}}
                        {{ else if in .Permalink "product_overview"}}{{ partial "sidenav-product_overview.html" .}}
                        {{ else if in .Permalink "release_notes"}}{{ partial "sidenav-release_notes.html" .}}
                        {{ else if in .Permalink "api_documentation"}}{{ partial "sidenav-api_documentation.html" .}}
                        {{ else if in .Permalink "early_access"}}{{ partial "sidenav-early_access.html" .}}
                        {{ else if in .Permalink "howto"}}{{ partial "sidenav-howto.html" .}}
                        {{ else if in .Permalink "sbp"}}{{ partial "sidenav-sbp.html" .}}
                        {{ else if in .Permalink "faq"}}{{ partial "sidenav-faq.html" .}}
                        {{end}}
                    </ul>
                </div>

            </div>

            <div id="content" class="col-md-8">
                
                
                <div id="page-content" class="page-content">
                        <button id="edit-on-github" data-toggle="popover" type="button" class="btn btn-default"
                            style="float: right;border:0px;margin-top: 145px;"><i class="fa fa-pencil-square-o fa-lg"></i>
                    </button>
                        {{ if in .Permalink "release_notes"}}{{ partial "disclaimer-old-rn.html" .}}
                        {{ else if in .Permalink "sbp"}}{{ partial "disclaimer-old-sbp.html" .}}
                        {{end}}
                    <h1 style="padding-top:135px;">{{ .Title }}</h1>
                    <hr>
                
                    {{ .Content }}
                </div>
            </div>


            {{ partial "toc.html" .}}

        </div>
    </div>
    <div class="push"></div>
</div>



{{ partial "footer.html" . }}

 