/Output
/Analyzer
/FileSync
/Project/Users
**/Thumbs.db
# Temp exclude of flare migrated content - remove from gitignore when migration is final
/Content/admin
/Content/dev-dotnet
/Content/dev-java
/Content/overview
/Content/production
/Content/rn
/Content/security
/Content/started
/Content/howto
/Content/index.htm
/Content/migrate-flare.log.txt