<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{{ `<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="global" prefix="og: http://ogp.me/ns#">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script>if(typeof console == 'undefined'){
	console = {log:function(){}};
	}</script>
  <title>Documentation Center | GigaSpaces</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="https://www.gigaspaces.com/sites/default/files/gigaspaces_favicon.ico" type="image/x-icon" />
<meta property="og:image" content="http://www.gigaspaces.com/sites/all/themes/gigaspaces/images/logo-w-bg.png" />

  <link type="text/css" rel="stylesheet" media="all" href="https://www.gigaspaces.com/sites/all/themes/gigaspaces/css/MyFontsWebfontsKit.css?N" />
<link type="text/css" rel="stylesheet" media="all" href="https://www.gigaspaces.com/sites/default/files/advagg_css/css_1b38b1fef6a6b6aaf43f330b2ad72139_28.css" />
  <link type="text/css" rel="stylesheet" media="all" href="https://www.gigaspaces.com/sites/all/themes/fusion/fusion_core/css/grid12-960.css?N"/>
<!--[if IE ]>
  <link type="text/css" rel="stylesheet" media="all" href="https://www.gigaspaces.com/sites/all/themes/gigaspaces/css/ie-fixes.css?N"/>
  <![endif]-->
  <!--[if IE 8]>
  <link type="text/css" rel="stylesheet" media="all" href="https://www.gigaspaces.com/sites/all/themes/fusion/fusion_core/css/ie8-fixes.css?N" />
  <![endif]-->
  <!--[if IE 7]>
  <link type="text/css" rel="stylesheet" media="all" href="https://www.gigaspaces.com/sites/all/themes/fusion/fusion_core/css/ie7-fixes.css?N" />
<link type="text/css" rel="stylesheet" media="all" href="https://www.gigaspaces.com/sites/all/themes/gigaspaces/css/ie7-fixes.css?N" />
  <![endif]-->
  <!--[if lte IE 6]>
  <link type="text/css" rel="stylesheet" media="all" href="https://www.gigaspaces.com/sites/all/themes/fusion/fusion_core/css/ie6-fixes.css?N"/>
  <![endif]-->

      <!-- start Mixpanel <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("46f6e37bc3405ae745419451654dfb53");</script> end Mixpanel -->
<!-- old token - 96365f48f34c41c7b91e045b4f48d53d -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gigaspaces.com/sites/default/files/advagg_js/js_c3849d8846df33dcfebbd6991af89215_7.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {"basePath":"\/","colorbox":{"transition":"elastic","speed":350,"opacity":"0.85","slideshow":false,"slideshowAuto":false,"slideshowSpeed":2500,"slideshowStart":"","slideshowStop":"","current":"{current} of {total}","previous":"\u00ab Prev","next":"Next \u00bb","close":"Close","overlayClose":true,"maxWidth":"100%","maxHeight":"100%"},"googleanalytics":{"trackOutgoing":1,"trackMailto":1,"trackDownload":1,"trackDownloadExtensions":"7z|aac|arc|arj|asf|asx|avi|bin|csv|doc|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls|xml|z|zip"},"jcarousel":{"ajaxPath":"\/jcarousel\/ajax\/views"},"custom_search":{"form_target":"_self","solr":0},"views":{"ajax_path":"\/views\/ajax","ajaxViews":[{"view_name":"features","view_display_id":"block_1","view_args":"2656","view_path":"node\/2656","view_base_path":null,"view_dom_id":4,"pager_element":0}]}});
//--><!]]>
</script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
var tb_pathToImage="https://www.gigaspaces.com/sites/all/modules/ajax_register/images/loading.gif"
//--><!]]>
</script>
	<script>if(location.href.includes('staging.gigaspaces.com')) { document.querySelector('html').classList.add('staging') } </script>
</head>

<body id="pid-download-center" class="not-front not-logged-in page-node node-type-new-product no-sidebars nid-2656 nid-parent- full-node layout-main sidebars-split font-size-12 grid-type-960 grid-width-12 ">
	<!-- Google Tag Manager 
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MX7TMJ"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MX7TMJ');</script>
	End Google Tag Manager -->
<div id="page" class="page">
	<div id="header-back">
		<div id="header-group" class="header-group row clearfix grid12-12">            
            <div id="header-site-info" class="header-site-info block">
				<div id="header-site-info-inner" class="header-site-info-inner inner">
                    <div id="logo">
						<a href="https://www.gigaspaces.com" title="Home">
							<img src="https://www.gigaspaces.com/sites/all/themes/gigaspaces/images/gs-logo.png" alt="Home" />
						</a>
					</div>
                </div><!-- /header-site-info-inner -->
			</div><!-- /header-site-info -->

<div id="block-megamenu-0" class="block block-megamenu even  last grid12-6">
<div class="inner clearfix">
<div class="content clearfix">
<ul id="megamenu-menu-main" class="megamenu-menu horizontal megamenu-skin-minimal">
	<li id="megamenu-mlid-9032" class="megamenu-parent megamenu-parent-0 odd half-1 leaf-0 first active active-trail first">
		<div class="hide-parent-bot-border">&nbsp;</div>
		<img class="megamenu-li-img-left" src="https://www.gigaspaces.com/sites/all/themes/gigaspaces/images/megamenu/megamenu_parent_bg_left.png" width="10" height="36"/>
		<h2 class="megamenu-parent-title"><a href="/nolink/663" class=" active active-trail menu-9032" style="font-family: Arial;">All Versions</a></h2>
		<img class="megamenu-li-img-right" src="https://www.gigaspaces.com/sites/all/themes/gigaspaces/images/megamenu/megamenu_parent_bg_right.png" width="10" height="36"/>
		<ul class="megamenu-bin megamenu-slots-columnar" >
			<li class="megamenu-slot"><h3 class="megamenu-slot-title"><a style="font-family: Arial;" href="/xap/12.3">12.3 Early Access</a></h3></li>
			<li class="megamenu-slot"><h3 class="megamenu-slot-title"><a style="font-family: Arial;" href="/xap/12.2">12.2</a></h3></li>
			<li class="megamenu-slot"><h3 class="megamenu-slot-title"><a style="font-family: Arial;" href="/xap121.html">12.1</a></h3></li>
			<li class="megamenu-slot"><h3 class="megamenu-slot-title"><a style="font-family: Arial;" href="/xap120.html">12.0</a></h3></li>
			<li class="megamenu-slot"><h3 class="megamenu-slot-title"><a style="font-family: Arial;" href="/xap110.html">11.0</a></h3></li>
			<li class="megamenu-slot"><h3 class="megamenu-slot-title"><a style="font-family: Arial;" href="/xap102.html">10.2</a></h3></li>
			<li class="megamenu-slot"><h3 class="megamenu-slot-title"><a style="font-family: Arial;" href="/xap101.html">10.1</a></h3></li>
			<li class="megamenu-slot"><h3 class="megamenu-slot-title"><a style="font-family: Arial;" href="/xap100.html">10.0</a></h3></li>
			<li class="megamenu-slot"><h3 class="megamenu-slot-title"><a style="font-family: Arial;" href="/xap97.html">9.7</a></h3></li>
			<li class="megamenu-slot"><h3 class="megamenu-slot-title"><a style="font-family: Arial;" href="/archive.html">Archive</a></h3></li>
		</ul>
	</li>
	<li id="megamenu-mlid-713" class="megamenu-parent megamenu-parent-5 even half-2 leaf-5">
		<div class="hide-parent-bot-border">&nbsp;</div>
		<img class="megamenu-li-img-left" src="https://www.gigaspaces.com/sites/all/themes/gigaspaces/images/megamenu/megamenu_parent_bg_left.png" width="10" height="36"/>
		<h2 class="megamenu-parent-title"><a href="/nolink/713" class=" menu-713" style="font-family: Arial;">Resources</a></h2>
		<img class="megamenu-li-img-right" src="https://www.gigaspaces.com/sites/all/themes/gigaspaces/images/megamenu/megamenu_parent_bg_right.png" width="10" height="36"/>
		<ul class="megamenu-bin megamenu-slots-columnar">
			<li class="megamenu-slot"><h3 class="megamenu-slot-title"><a style="font-family: Arial;" href="/early_access">Early Access</a></h3></li>
			<li class="megamenu-slot"><h3 class="megamenu-slot-title"><a style="font-family: Arial;" href="/api_documentation">API Docs</a></h3></li>
			<li class="megamenu-slot"><h3 class="megamenu-slot-title"><a style="font-family: Arial;" href="/videos">Videos</a></h3></li>
			<li class="megamenu-slot"><h3 class="megamenu-slot-title"><a style="font-family: Arial;" href="/sbp">Solutions and Patterns</a></h3></li>
			<li class="megamenu-slot"><h3 class="megamenu-slot-title"><a style="font-family: Arial;" href="http://blog.gigaspaces.com">Blog</a></h3></li>
			<li class="megamenu-slot"><h3 class="megamenu-slot-title"><a style="font-family: Arial;" href="http://ask.gigaspaces.org">Forum</a></h3></li>
		</ul>
	</li>
	<li id="megamenu-mlid-9472" class="megamenu-parent megamenu-parent-8 odd half-2 leaf-8">
		<div class="hide-parent-bot-border">&nbsp;</div>
		<img class="megamenu-li-img-left" src="https://www.gigaspaces.com/sites/all/themes/gigaspaces/images/megamenu/megamenu_parent_bg_left.png" width="10" height="36"/>
		<h2 class="megamenu-parent-title"><a href="https://www.gigaspaces.com/request-demo" class=" menu-9472" style="font-family: Arial;">Book Demo</a></h2>
		<img class="megamenu-li-img-right" src="https://www.gigaspaces.com/sites/all/themes/gigaspaces/images/megamenu/megamenu_parent_bg_right.png" width="10" height="36"/>
	</li>
	<li id="megamenu-mlid-9406" class="megamenu-parent megamenu-parent-9 even half-2 leaf-9 last last">
		<div class="hide-parent-bot-border">&nbsp;</div>
		<img class="megamenu-li-img-left" src="https://www.gigaspaces.com/sites/all/themes/gigaspaces/images/megamenu/megamenu_parent_bg_left.png" width="10" height="36"/>
		<h2 class="megamenu-parent-title"><a href="https://www.gigaspaces.com/download-center" class=" menu-9406 active" style="font-family: Arial;">Download</a></h2>
		<img class="megamenu-li-img-right" src="https://www.gigaspaces.com/sites/all/themes/gigaspaces/images/megamenu/megamenu_parent_bg_right.png" width="10" height="36"/>
	</li>
</ul>
</div>
</div><!-- /block-inner -->
</div><!-- /block -->

</div><!-- /header-group -->
</div><!-- /header-back -->

	<div id="main" class="main row clearfix grid12-12">      
		<div id="main-group" class="main-group row nested grid12-12">
			<div id="content-group" class="content-group row nested grid12-12">
				<div id="content-inner" class="content-inner block">
					<div id="content-inner-inner" class="content-inner-inner inner">              		             
						<div id="content-content" class="content-content">                
							<div id="node-2656" class="node odd full-node node-type-new_product">
								<div class="inner">    
									<div class="content clearfix" >
										<h1 class="download-center-banner insightedge-download" style="font-family: Arial;font-weight: 1">
											<span>Documentation Center</span>
										</h1>
										
<div class="block-product col-md-12 insightedge-download" style="padding-top: 30px;padding-bottom: 30px;">
	<div class="intro-text-3 ">
		<div class="col-md-4" style="min-height: 190px;padding-bottom: 0px;">
			<div class="services-box-info">
				<div><a class="btn btn-lg btn-blue" style="font-family: Arial;" href="/xap/12.2/overview">Product Overview</a></div>
				<p style="font-family: Arial;">Read about the architecture and platform components that comprise the InsightEdge Platform and XAP core.</p>
			</div>
		</div>
	</div>
	<div class="intro-text-5 intro-text-4">
		<div class="col-md-4" style="min-height: 190px;padding-bottom: 0px;">
			<div class="services-box-info">
				<div><a class="btn btn-lg btn-green" style="font-family: Arial;" href="/xap/12.2/started">Getting Started</a></div>
				<p style="font-family: Arial;">Find out how to quickly get up and running by installing the product, writing your first application, and deploying it on your local machine.</p>
			</div>
		</div>
	</div>
	<div class="intro-text-3 ">
		<div class="col-md-4" style="min-height: 190px;padding-bottom: 0px;">
			<div class="services-box-info">
				<div><a class="btn btn-lg btn-blue" style="font-family: Arial;" href="/xap/12.2/dev-java">Developer Guide</a></div>
				<p style="font-family: Arial;">Get under the hood to understand the APIs that drive InsightEdge and XAP, and gain in-depth knowledge about the system behavior.</p>
			</div>
		</div>
	</div>
	<div class="col-md-12"><p/></div>
	<div class="col-md-12"><p/></div>
	<div class="intro-text-5 intro-text-4">
		<div class="col-md-4" style="min-height: 190px;padding-bottom: 0px;">
			<div class="services-box-info">
				<div><a class="btn btn-lg btn-green" style="font-family: Arial;" href="/xap/12.2/admin">Administrator Guide</a></div>
				<p style="font-family: Arial;">Learn about the native administration tools, as well as logging, monitoring, benchmarking, and tuning a variety of parameters for optimal performance.</p>
			</div>
		</div>
	</div>
	<div class="intro-text-3 ">
		<div class="col-md-4" style="min-height: 190px;padding-bottom: 0px;">
			<div class="services-box-info">
				<div><a class="btn btn-lg btn-blue" style="font-family: Arial;" href="/xap/12.2/rn">Release Notes</a></div>
				<p style="font-family: Arial;">See the product changes, updates and resolved issues for the latest version of InsightEdge and XAP, along with information about supported platforms and third-party license agreements.</p>
			</div>
		</div>
	</div>
	<div class="intro-text-3 ">
		<div class="col-md-4" style="min-height: 190px;padding-bottom: 0px;">
			<div class="services-box-info">
				<div><a class="btn btn-blue" style="font-family: Arial;" href="/xap/12.2/started/faq.html">Frequently Asked Questions</a></div>
				<p style="font-family: Arial;">Review some common questions and answers about developing applications over InsightEdge and XAP.</p>
			</div>
		</div>
	</div>
</div>
</div>   
</div><!-- /inner -->
</div><!-- /node-2656 -->
</div><!-- /content-content -->
</div><!-- /content-inner-inner -->
</div><!-- /content-inner -->
</div><!-- /content-group -->
</div><!-- /main-group -->
</div><!-- /main -->

	<div id="footer-back">
		<div id="footer" class="footer row grid12-12">	     
			<div id="rfooter">
				<div id="rfooter-bottom">
					<div id="copyr">Copyright &copy;  GigaSpaces  2017,  All rights reserved.	</div>	      			
				</div>
			</div>
		</div><!-- /footer -->
	</div><!-- /footer-back -->
</div><!-- /page -->

  
  <script type="text/javascript">
     $(window).load( function(){
		$("div#preloader").remove();
		$("div#page").css({visibility: "visible"});
		QueryLoader.init();
	});
	</script>
<script type="text/javascript">
  piAId = '143531';
  piCId = '1393';
  (function() {
	   function async_load(){
		     var s = document.createElement('script'); s.type = 'text/javascript';
	       s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
         var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
	   }
     if(window.attachEvent) { window.attachEvent('onload', async_load); }
     else { window.addEventListener('load', async_load, false); }
})();
</script>
</body>
</html>
` | safeHTML }}