######################################################################################
# Placing a # in front of any of the items listed below (e.g., # /Project/Users) will 
# allow these items to be pushed to your Git repository. Keep in mind the more files 
# you push to your repository, the more your performance may be affected. 
######################################################################################

# MadCap file patterns
/Output
/Analyzer
/FileSync
/Project/Users
/.svn
**/Thumbs.db
