{{ partial "header.html" . }}
{{ partial "navbar97.html" . }}


<div class="container-fluid" style="padding-top:10px;min-height: 650px;">

    <div class="col-md-2" >
        <div class="leftbar">
        <ul class="treeview" id="tree">
            {{ partial "sidenav-xap97.html" .}}
        </ul>
    </div>
        </div>



    <div class="col-lg-8">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/xap97">9.7 Java</a></li>
            <li class="active">{{.Title}}</li>
        </ol>

        <button id="edit-on-github" data-toggle="popover" type="button" class="btn btn-default"
                style="float: right;border:0px"><i class="fa fa-pencil-square-o fa-lg"></i>
        </button>

        <h1>{{ .Title }}</h1>
        <hr>
        {{ .Content }}
        <hr>

        {{ partial "pager.html" .}}

    </div>


    {{ partial "toc.html" .}}

</div>

{{ partial "footer.html" . }}

 