{{ partial "header.html" . }}
<div id="wrap">
    {{ partial "navbar97.html" . }}


    <div class="container">
        <div id="breadcrumbs" class="row">
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-home fa-lg"></i></a></li>
                {{ if in .Permalink "xap97nettut"}}<li><a href="/xap97nettut">9.7 .Net Tutorial</a></li>
                {{ else if in .Permalink "xap97sec"}}<li><a href="/xap97sec">9.7 Security</a></li>
                {{ else if in .Permalink "xap97net"}}<li><a href="/xap97net">9.7 .Net</a></li>
                {{ else if in .Permalink "xap97adm"}}<li><a href="/xap97adm">9.7 Administration</a></li>
                {{ else if in .Permalink "xap97tut"}}<li><a href="/xap97tut">9.7 Java Tutorial</a></li>
                {{ else if in .Permalink "xap97"}}<li><a href="/xap97">9.7 Java</a></li>
                {{end}}
                <li class="active">{{.Title}}</li>
            </ol>
        </div>

        <div class="container-fluid">
            <div id="leftbar-div" class="col-md-2 hidden-xs">
                <div class="leftbar">
                    <ul class="treeview" id="tree" >
                        {{ if in .Permalink "xap97net"}}{{ partial "sidenav-xap97net.html" .}}
                        {{ else if in .Permalink "xap97adm"}}{{ partial "sidenav-xap97adm.html" .}}
                        {{ else if in .Permalink "xap97"}}{{ partial "sidenav-xap97.html" .}}
                        {{end}}
                    </ul>
                </div>
            </div>


            <div id="content" class="col-md-8">
                <div class="page-title">
                    <button id="edit-on-github" data-toggle="popover" type="button" class="btn btn-default"
                            style="float: right;border:0px"><i class="fa fa-pencil-square-o fa-lg"></i>
                    </button>
                    <h1 style="margin-top: 0px;">{{ .Title }}</h1>
                    <hr>
                </div>
                <div id="page-content" class="page-content">
                    {{ .Content }}
                </div>
            </div>

            {{ partial "toc.html" .}}

        </div>
    </div>
    <div class="push"></div>
</div>

{{ partial "footer.html" . }}

 