{{ partial "header.html" . }}
{{ partial "navbar101.html" . }}


<div class="container-fluid" style="padding-top:10px;min-height: 650px;">

    <div class="col-md-2 hidden-xs">
        <div class="leftbar">
            <ul class="treeview" id="tree" >
                {{ partial "sidenav-xap101net.html" .}}
            </ul>
        </div>

    </div>


    <div class="col-lg-8">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/xap101net">10.1 .Net</a></li>
            <li class="active">{{.Title}}</li>
        </ol>

        <button id="edit-on-github" data-toggle="popover" type="button" class="btn btn-default"
                style="float: right;border:0px"><i class="fa fa-pencil-square-o fa-lg"></i>
        </button>

        <h1>{{ .Title }}</h1>
        <hr>
        {{ .Content }}
        <hr>



    </div>


    {{ partial "toc.html" .}}

</div>

{{ partial "footer.html" . }}

 