{{ partial "header.html" . }}
<div id="wrap">
    {{ partial "navbar100.html" . }}

	
    <div class="container">
        <div id="breadcrumbs" class="row">
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-home fa-lg"></i></a></li>
				<li><a href="/xap100">10.0</a></li>
                {{ if in .Permalink "xap100nettut"}}<li><a href="/xap100nettut">.NET Tutorial</a></li>
                {{ else if in .Permalink "xap100sec"}}<li><a href="/xap100sec">Security Guide</a></li>
                {{ else if in .Permalink "xap100net"}}<li><a href="/xap100net">.NET Developers Guide</a></li>
                {{ else if in .Permalink "xap100adm"}}<li><a href="/xap100adm">Administration Guide</a></li>
                {{ else if in .Permalink "xap100tut"}}<li><a href="/xap100tut">Java Tutorial</a></li>
                {{ else if in .Permalink "xap100"}}<li><a href="/xap100">Java Developers Guide</a></li>
                {{end}}
                <li class="active">{{.Title}}</li>
            </ol>
        </div>

        <div class="container-fluid">
            <div id="leftbar-div" class="col-md-2 hidden-xs">
                <div class="leftbar">
                    <ul class="treeview" id="tree" >
                        {{ if in .Permalink "xap100"}}{{ partial "sidenav-xap100.html" .}}
                        {{end}}
                    </ul>
                </div>
            </div>


            <div id="content" class="col-md-8">
                <div id="page-content" class="page-content">
                        <button id="edit-on-github" data-toggle="popover" type="button" class="btn btn-default"
                            style="float: right;border:0px;margin-top: 145px;"><i class="fa fa-pencil-square-o fa-lg"></i>
                    </button>
                    <h1 style="padding-top:135px;">{{ .Title }}</h1>
                    <hr>
                
                    {{ .Content }}
                </div>
            </div>

            {{ partial "toc.html" .}}

        </div>
    </div>
    <div class="push"></div>
</div>

{{ partial "footer.html" . }}

 